table tr td[valign=center] { background-color: #e9e9e9; }

td.ministatusPENDING table tr td.ministatusPENDING,
td.ministatusUNKNOWN table tr td.ministatusUNKNOWN,
td.ministatusWARNING table tr td.ministatusWARNING,
td.ministatusOK table tr td.ministatusOK,
td.ministatusUP table tr td.ministatusUP,
td.ministatusDOWN table tr td.ministatusDOWN,
td.ministatusUNREACHABLE table tr td.ministatusUNREACHABLE,
td.ministatusCRITICAL table tr td.ministatusCRITICAL { padding: 0px; }

td.hosttotalsUP{
background:#1BBF15;
}
tr.statusEven,
tr.statusOdd { padding: 0px; }

#widget_status_totals_left{
	float: left;
	height: 100%;
}
#widget_status_totals_right{
	height: 100%;
}