@import url("../default/reports.css");
/* response *********************************************************************/

#response {
	background: #444444 url(images/bg.png) repeat-x;
	border: 1px solid #855e36;
}

/* id:s *********************************************************************/

.chart-border {
	border: 1px solid #855e36;
}

/* tables ***********************************************************************/

tr.dark td,
tr.odd td.dark,
tr.even td.dark {
	border: 1px solid #855e36;
	background: #efefef;
}

tr.even td.dark {
	border-left: 1px solid #855e36;
}

.data_red {
	background-color:#444444;
	background: url(../../reports/images/redbgimg.png) repeat-x;
}

td.data_green {
	background-color:#444444;
	background: url(../../reports/images/greenbgimg.png) repeat-x;
}


tr.none td {
	background: #1d1d1d;
}

table.white-table tr.no-result td {
	background: #444444;
}

/* time picker **********************************************************************************/

div.time-picker {
	background: #1d1d1d;
	border: 1px solid #855e36;
}
div.time-picker li.selected {
	background: #316aC5;
	color: #fff;
}

.time_error {
	border:1px solid red;
	color:red;
}

/* tab specifics **********************************************************************************/

.ui-widget-content {
	background: #444444;
	color: #222222;
}
.ui-widget-header {
	background: #1d1d1d url(images/bg.png) repeat-x;
	border-bottom: 1px solid #855e36;
	color: #222222;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #855e36;
	background: #444444 url(images/bg.png) repeat-x;
	color: #555555;
}
.ui-state-hover,
.ui-widget-content
.ui-state-hover,
.ui-state-focus,
.ui-widget-content
.ui-state-focus {
	border: 1px solid #855e36;
	background: #aaaaaa url(images/bg.png) repeat-x;
	color: #212121;
}
.ui-state-active,
.ui-widget-content
.ui-state-active {
	border: 1px solid #855e36;
	background: #444444;
	color: #212121;
}

/***********************************************************************/

input,
select,
textarea {
	background: #444444;
	border: 1px solid #855e36;
}

button,
input[type=reset],
input[type=submit],
input[type=button] {
	background: #444444 url(images/bg.png) repeat-x;
	border: 1px solid #855e36;
}

.form-dropdown {
	background: #444444 url(images/bg.png) repeat-x;
	border: 1px solid #855e36;
}

input.wide,
input.sla_month,
input#cal_end,
input#report_name,
input.datepick-end,
input.datepick-start,
input#cal_start,
input#summary_items,
input#filter_field,
input#time_start,
input#time_end,
input#duration,
input#time_input,
input#filename,
input#local_persistent_filepath,
input#recipients {
	background: #444444;
	border: 1px solid #855e36;
}
