@import url("../default/screen.css");

html, body {
	color: #ff9922;
}

td.white table tr td,
td.white:first-child table tr td:first-child,
#widget-tac_hosts table tr th,
#widget-tac_services table tr th,
#widget-tac_monfeat table tr th,
#widget-tac_hosts table tr th:first-child,
#widget-tac_services table tr th:first-child,
#widget-tac_monfeat table tr th:first-child,
#top-bar,
#menu,
#menu ul,
#page_settings ul li,
#menu ul li,
#page_settings,
.widget-editbox {
	border-color: #855e36;
}

#menu {
	background-color: #333;
	border-left:1px solid #855e36;
	border-right:1px solid #855e36;
}
#menu ul li {
	border-bottom: 1px solid #855e36;
}
#menu ul li em {
	border: 1px solid #855e36;
	background:#333;
	color:#ccc;
}
#menu ul li.hr {
	background: #333;
	border-bottom: 1px solid #855e36;
}
#menu ul li a:hover {
	color:#ffc333;
	/*background-color:#e2edf9;*/
}
#icons {
	background: #333 /*url(images/bg.png) repeat-x*/;
	border-bottom:1px solid #855e36;
}
#icons ul li {
	background: url(images/menu-divider.png) 0px 0px no-repeat;
}
.group_grid_table th.headerSortUp:first-child,
.group_overview_table th.headerSortUp:first-child,
.comments_table th.headerSortUp:first-child,
#group_summary_table th.headerSortUp:first-child,
#service_table th.headerSortUp:first-child,
#host_table th.headerSortUp:first-child,
th.headerSortUp:first-child,
.group_grid_table th.headerSortDown:first-child,
.group_overview_table th.headerSortDown:first-child,
.comments_table th.headerSortDown:first-child,
#group_summary_table th.headerSortDown:first-child,
#service_table th.headerSortDown:first-child,
#host_table th.headerSortDown:first-child,
th.headerSortDown:first-child,
.group_grid_table th:first-child,
.group_overview_table th:first-child,
.comments_table th:first-child,
th.headerNone:first-child,
#group_summary_table th:first-child,
#service_table th:first-child,
#host_table th:first-child,
#host_table th.no-sort:first-child,
.group_grid_table th,
.group_overview_table th,
.comments_table th,
#group_summary_table th,
#service_table th,
#service_table th.headerNone,
th.headerNone,
#host_table th,
#host_table th.no-sort,
.group_grid_table th.header:first-child,
.group_overview_table th.header:first-child,
.comments_table th.header:first-child,
#group_summary_table th.header:first-child,
#service_table th.header:first-child,
#host_table th.header:first-child,
th.header:first-child,
.group_grid_table th.header,
.group_overview_table th.header,
.comments_table th.header,
#group_summary_table th.header,
#service_table th.header,
#host_table th.header,
th.header,
.autocomplete,
tr.even td:first-child,
tr.odd td:first-child,
tr.even td,
tr.odd td,
tr.even td.bl,
tr.odd td.bl,
tr.even td.bt,
tr.odd td.bt,
.widget-placeholder,
.widget-header,
table.health,
#quickbar{
	border-color: #855e36;
}

#navigation ul li {
	background: url(images/menu-arrow.png) no-repeat;
}
#navigation a {
	color: #ff9600;
text-decoration: none;
}
#navigation p {
	color: #ff9600;
}
#navigation p a {
	color: #ff9600;
	border-bottom:1px solid #777777;
}
