.autocomplete-w1 {
	/*background:url(/application/views/themes/default/images/shadow.png) no-repeat bottom right;*/
	position:absolute;
	top:0px;
	left:0px;
	margin:8px 0px 0px 6px;
}

.autocomplete {
	border:1px solid #999999;
	background:#ffffff;
	cursor:default;
	text-align:left;
	max-height:350px;
	overflow:auto;
	margin:-6px 6px 6px -6px;
}

.autocomplete .selected {
	background:#f0f0f0;
}

.autocomplete div {
	padding:2px 5px;
	white-space:nowrap;
}

.autocomplete strong {
	font-weight:normal;
	color:#3399ff;
}