* {
	text-decoration: none;
	outline: none;
	padding: 0px;
	margin: 0px;
}
code, kbd, samp, tt, var, textarea,
input, select, isindex, listing, xmp, plaintext {
	white-space: normal;
	font-size: 1em;
	font: inherit;
}
dfn, i, cite, var, address, em {
	font-style: normal;
}
th, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a, img, a img, iframe, form, fieldset,
abbr, acronym, object, applet, table {
	border: none;
}
table {
	border-spacing: 0;
}
caption, th, td, center {
	vertical-align: top;
	text-align: left;
}
body {
	background: white;
	line-height: 1;
	color: black;
}
q {
	quotes: "" "";
}
ul, ol, dir, menu {
	list-style: none;
}
sub, sup {
	vertical-align: baseline;
}
a {
	color: inherit;
}
font {
	color: inherit !important;
	font: inherit !important;
}
marquee {
	overflow: inherit !important;
	-moz-binding: none;
}
blink {
	text-decoration: none;
}
nobr {
	white-space: normal;
}
/**************************************************************************************************/
html, body {
	height: 100%;
}
body {
	font-size: 0.7em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin: 0px;
	background-color: #fafafa;
}
td { vertical-align: middle; }
a { color: #414141; }
cite {font-style: normal;}
title {	text-transform: capitalize;}
ul.commands {
	margin: 0px;
	padding: 0px;
}
ul.commands li {
	line-height: 20px;
	list-style: none;
}
ul.commands li img {
	margin-right: 3px;
	margin-bottom: -2px;
	height: 14px;
}

cite em,
cite em:first-child {
	background: #ffffff url(images/input-bg-right.png) no-repeat;
	height: 29px;
	width: 8px;
	float: left;
	border: 0px;
	margin-bottom: -1px;
}
cite em:first-child {
	background: #ffffff url(images/input-bg-left.png) no-repeat;
	margin-left: -4px;
}
input[type=submit],
input[type=reset],
input[type=button] {
	border: 1px solid #ccc;
	outline:  1px solid #ccc;
	background: #b7b7b7 url(images/bg.png) repeat-x;
	padding: 1px 5px;
}
input[type=text] {
	border:  1px solid #ccc;
	padding: 2px 5px;
	margin-left: 2px;
}
input.text {
	border: 0px;
	outline: 0px;
	background: #ffffff url(images/input-bg.png) repeat-x;
	padding: 7px 0px;
	float: left;
	margin-bottom: -1px;
	margin-left: 0px;
}
input.i160 {
	border: 0px;
	outline: 0px;
	background: #ffffff url(images/input-160.png) no-repeat;
	padding: 8px 7px;
	width: 155px;
	float: left;
	margin-bottom: -1px;
	margin-left: 0px;
}

select {
	border: 1px solid #ccc;
	outline:  1px solid #ccc;
	padding: 0px;
	margin-left: 3px;
}

/* pagination *************************************************************************************/
#status_count_summary {
	float: left;
}
/**************************************************************************************************/
.error_message {
	margin-left: 1%;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 12px;
}
.error_description {
	margin-left: 1%;
	width: 550px;
}
/* generic classes ********************************************************************************/
table {
	border-spacing: 0px;
	margin: 0px;
	width: 100%;
}
caption {
	font-weight: bold;
	text-align: left;
	padding: 2px 0px 4px 4px;
}
th {
	text-align: left;
	padding: 5px 7px;
	border: 0px;
	font-size: 90%;
	font-weight: bold;
	padding: 3px 7px;
	text-transform: uppercase;
}
tr td {
	padding: 0px 5px;
	border: 0px;
	text-align:left;
	white-space: nowrap;
}
tr td.dark  {
	width: 40px;
	text-align: center;
	padding: 5.5px 0px;
}
tr td.white {
	padding: 0px;
	background: #fafafa;
	vertical-align: top;
}
/* health css *************************************************************************************/
table.health {
	border: 1px solid #ccc;
	border-spacing: 1px;
	background-color: #ffffff;
	margin-top: -1px;
}
table.health tr td {
	background: none;
	border: 0px;
	text-align: left;
	padding: 0px;
	width: 50%;
}
table.health tr td div.border {
	height: 187px;
	height: 100px;
}
table.health tr td:first-child div.border {
	margin-right: 0px;
}
table.health tr td div.border img {
	height: 187px;
	height: 100px;
}
table.health tr td div.border {
	padding: 0px;
}
table.health tr td div.border img {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 30px;
}
.service-totals {
	margin-left: 249px;
	margin-top:-72px;
	width: 251px;
}
.service-totals tr td.status:first-child,
.w-table.w50 tr td.status:first-child { border-left: 1px solid #d0d0d0;}
/* extinfo table **********************************************************************************/
table.extinfo {
	border-spacing: 1px;
	background-color: #ccc;
	margin-top: -1px;
}
table.extinfo tr td {
	padding: 2px 5px;
}
table.extinfo tr td.status.icon {
	width: 11px;
}
table.extinfo tr td img {
	margin-bottom: -2px;
	margin-right: 2px;
}
table.extinfo tr td.status.icon img {
	margin: 1px;
	height: 14px;
}
/* widget style **********************************************************************************/
.widget-header {
	font-weight: bold;
	text-align: left;
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;
	height: 14px;
}
.widget-header span {
	float: left;
}
.widget-header span img {
	float: left;
}
.widget-header span.widget-menu {
	float: right;
	margin-top: 1px;
}
.wtop { margin-top: 11px; margin-bottom: 0px;}
.widget-header span.widget-menu img {
	margin-left: 3px;
}

.widget {
	width: 100%;
	margin-top: 11px;
	position: relative;
}
.widget-place {
	margin-left: 1%;
	width: 32%;
	float: left;
	min-height: 5px;
	height: auto !important;
	height: 5px;
}
.widget-place.w98{
	width: 98%;
	min-height: 100px;
}
.widget-place.col {
	clear: none;
}
.widget-placeholder {
	margin-top: 11px;
  border: 1px dashed #ccc;
}
.widget-editbox{
	z-index: 9999;
	background-color: #ffffff;
	padding: 15px;
	margin-top: -1px;
	border: 1px solid #ccc;
	right: 0px;
	width: 200px;
	position: absolute;
	display: none;
}
.widget w98 left config_header{
	top: 57px;
	position: fixed;
	background-color: #ffffff;
	padding: 10px 1%;
}

/**************************************************************************************************/
div.left {
	float: left;
	margin-top: 11px;
	margin-left: 1%;
        
}
div.right {
	float: right;
	margin-top: 11px;
        clear: both;
}
.max { width: 100%; }
.w99 { width: 99%; }
.w98 { width: 98%; }
.w66 { width: 65%; }
.w50 { width: 50%; }
.w49 { width: 49%; }
.w48 { width: 48%; }
.w33 { width: 32%; }
.w32 { width: 32%; }
/* status *****************************************************************************************/
.status  {
	padding: 5px;
	height: 16px;
}
.icon {
	width: 16px;
	height: 16px;
	padding: 2px 7px;
	text-align: center;
	vertical-align: middle;
}
.icon img {
	margin-top: 2px;
	margin-bottom: -1px;
}
tr.odd td.bl,
tr.even td.bl { border-left: 1px solid #ccc; }
tr.odd td.bt,
tr.even td.bt { border-top: 1px solid #ccc; }
tr.odd td.bt img,
tr.even td.bt img { float: left }
td.icon a { border: 0px; }
th.white,
#service_table tr.even td.white,
#service_table tr.odd td.white {
	background: #fafafa;
	border: 1px solid #fafafa;
	padding: 0px;
}
tr.even td.w80,
tr.odd td.w80 { width: 80px; border-right: 0px;  }
#content a {
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}
th a { border-bottom: 0px; }
img { border-bottom: 0px; }
a > img { border: 0px; }
#status_count_summary {
	margin-top: 7px;
	font-style: italic;
	margin-left: 5px;
}
tr.even td {
	border: 1px solid #ccc;
	border-left: 0px;
	border-top: 0px;
	background: #fafafa;
	padding-top: 2px;
	padding-bottom: 2px;
}
tr.odd td {
	border: 1px solid #ccc;
	border-left: 0px;
	background: #fafafa;
	border-top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
tr.odd td:first-child,
tr.even td:first-child {
	border-left: 1px solid #ccc;
}
td.white table tr td {
	border: 1px solid #ccc;
	border-left: 0px;
	border-top: 0px;
}
td.white:first-child table tr td:first-child {
	border-left: 1px solid #ccc;
}
.w-table tr td {
	border-right: 1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.w-table tr td.dark {
	border-left: 1px solid #ccc;
}
th.enabled_monfeat,
th.disabled_monfeat {
	cursor: pointer
}
th.disabled_monfeat em,
th.enabled_monfeat em {
	float: right;
	margin-top: 2px;
	margin-bottom: -2px;
	background: transparent url(../../icons/arrow-down.gif) right no-repeat;
	height: 16px;
}
th.enabled_monfeat em {
	width: 65px;
}
th.disabled_monfeat cite,
th.enabled_monfeat cite {
	float: left;
	margin-top: 2px;
	margin-bottom: -2px;
}

table.ext {
	border-spacing: 1px;
	background-color: #ccc;
}

table.ext tr th {
	border: 0px;
}

table.ext tr td.dark {
	text-align: left;
	padding-left: 7px;
	padding-right: 5px;
	width: auto;
	padding: 3px 5px 3px 7px;
}

table.ext tr td {
	padding: 3px 5px;
	white-space: normal;
}

table.ext tr td.dark img {
	display: block;
}

/* widget thingy  ********************************************************************************/
#widget-tac_hosts table tr th,
#widget-tac_services table tr th,
#widget-tac_monfeat table tr th {
	border: 1px solid #ccc;
	border-left: 0px;
	border-top: 0px;
}
#widget-tac_hosts table tr th:first-child,
#widget-tac_services table tr th:first-child,
#widget-tac_monfeat table tr th:first-child {
	border-left: 1px solid #ccc;
}

/* table sorter styles ****************************************************************************/
.group_grid_table th.header,
.group_overview_table th.header,
.comments_table th.header,
th.headerSortUp,
th.headerSortDown,
#group_summary_table th.header,
#service_table th.header,
#host_table th.header,
th.header {
	background: #f1f1f1 url(images/sort.png) top right;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding-top: 14px;
}
.group_grid_table th.header:first-child,
.group_overview_table th.header:first-child,
.comments_table th.header:first-child,
#group_summary_table th.header:first-child,
#service_table th.header:first-child,
#host_table th.header:first-child,
th.header:first-child {
	background: #f1f1f1 url(images/sort.png) top right;
	cursor: pointer;
	border-left: 1px solid #ccc;
}
.group_grid_table th,
.group_overview_table th,
.comments_table th,
#group_summary_table th,
#service_table th,
#service_table th.headerNone,
th.headerNone,
#host_table th,
#host_table th.no-sort {
	background:#f1f1f1;
	cursor: default;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding-top: 14px;
	background: url(images/sort-none.png) top right;
}
.group_grid_table th:first-child,
.group_overview_table th:first-child,
.comments_table th:first-child,
th.headerNone:first-child,
#group_summary_table th:first-child,
#service_table th:first-child,
#host_table th:first-child,
#host_table th.no-sort:first-child {
	border-left: 1px solid #ccc;
}
.group_grid_table th.headerSortDown,
.group_overview_table th.headerSortDown,
.comments_table th.headerSortDown,
#group_summary_table th.headerSortDown,
#service_table th.headerSortDown,
#host_table th.headerSortDown,
th.headerSortDown {
	background: #f1f1f1 url(images/sort-down.png) top right;
	cursor: pointer;
}
.group_grid_table th.headerSortDown:first-child,
.group_overview_table th.headerSortDown:first-child,
.comments_table th.headerSortDown:first-child,
#group_summary_table th.headerSortDown:first-child,
#service_table th.headerSortDown:first-child,
#host_table th.headerSortDown:first-child,
th.headerSortDown:first-child {
	background: #f1f1f1 url(images/sort-down.png) top right;
	border-left: 1px solid #ccc;
	cursor: pointer;
}
.group_grid_table th.headerSortUp,
.group_overview_table th.headerSortUp,
.comments_table th.headerSortUp,
#group_summary_table th.headerSortUp,
#service_table th.headerSortUp,
#host_table th.headerSortUp,
th.headerSortUp {
	background: #f1f1f1 url(images/sort-up.png) top right;
	cursor: pointer;
}
.group_grid_table th.headerSortUp:first-child,
.group_overview_table th.headerSortUp:first-child,
.comments_table th.headerSortUp:first-child,
#group_summary_table th.headerSortUp:first-child,
#service_table th.headerSortUp:first-child,
#host_table th.headerSortUp:first-child,
th.headerSortUp:first-child {
	background: #f1f1f1 url(images/sort-up.png) top right;
	border-left: 1px solid #ccc;
	cursor: pointer;
}
/* autocomplete styles ****************************************************************************/
.autocomplete-w1 {
	position:absolute;
	top:0px;
	left:0px;
	margin:8px 0px 0px 6px;
}
.autocomplete {
	border:1px solid #ccc;
	background:#f1f1f1;
	cursor:default;
	text-align:left;
	max-height:350px;
	overflow:auto;
	margin:-6px 6px 6px -6px;
}
.autocomplete .selected {
	background:#f1f1f1;
}
.autocomplete div {
	padding:2px 5px;
	white-space:nowrap;
}
.autocomplete strong {
	font-weight:normal;
	color:#3399ff;
}
/* jquery.jgrowl.css ******************************************************************************/
div.jGrowl {
	padding:10px;
	z-index:9999;
}
/** Normal Style Positions **/
body > div.jGrowl {
	position:fixed;
}
body > div.jGrowl.top-left {
	left:0px;
	top:0px;
}
body > div.jGrowl.top-right {
	right:0px;
	top:0px;
}
body > div.jGrowl.bottom-left {
	left:0px;
	bottom:0px;
}
body > div.jGrowl.bottom-right {
	right:0px;
	bottom:0px;
}
body > div.jGrowl.center {
	top:0px;
	width:50%;
	left:25%;
}
/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
	margin-left:auto;
	margin-right:auto;
}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	background-color:#333333;
	color:#f1f1f1;
	opacity:.85;
	filter:alpha(opacity = 85);
	zoom:1;
	width:235px;
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
	text-align:left;
	display:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.jGrowl div.jGrowl-notification {
	min-height:40px;
}
div.jGrowl div.jGrowl-notification div.header {
	font-weight:bold;
	font-size:10px;
}
div.jGrowl div.jGrowl-notification div.close {
	float:right;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
div.jGrowl div.jGrowl-closer {
	height:15px;
	padding-top:4px;
	padding-bottom:4px;
	cursor:pointer;
	font-weight:bold;
	text-align:center;
}
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
/* Component containers
----------------------------------*/
/*.ui-widget { font-size: 100%; color:#333}*/
.ui-widget-content { border: 1px solid #ccc; background: #ffffff 50% 50% repeat-x;/* color: #222222; */}
/*.ui-widget-content a { color: #222222; }*/
.ui-widget-header { border: 1px solid #ccc; background: #f6f6f6 50% 50% repeat-x;/* color: #222222; */font-weight: bold; }
/*.ui-widget-header a { color: #222222; }*/
.ui-corner-all { -moz-border-radius: 4px/; -webkit-border-radius: 4px; }
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #ccc; background: #f6f6f6 50% 50% repeat-x; /*font-weight: normal; color: #c3c3c3; */outline: none; }
#tac_problems_slider{width:200px}
#availability_toolbox {
	position: relative;
	margin-top: -30px;
	right: 118px;
	float: right
}
.headerNone.left a {
	vertical-align: top;
}

/***************************************************************************************************
*	COLOURS!
***************************************************************************************************/
td.white table tr td,
td.white:first-child table tr td:first-child,
#widget-tac_hosts table tr th,
#widget-tac_services table tr th,
#widget-tac_monfeat table tr th,
#widget-tac_hosts table tr th:first-child,
#widget-tac_services table tr th:first-child,
#widget-tac_monfeat table tr th:first-child,
#top-bar,
#quickbar,
#menu,
#menu ul,
#page_settings ul li,
#menu ul li,
#page_settings,
.widget-editbox {
	border-color: #ccc;
}

.group_grid_table th.headerSortUp:first-child,
.group_overview_table th.headerSortUp:first-child,
.comments_table th.headerSortUp:first-child,
#group_summary_table th.headerSortUp:first-child,
#service_table th.headerSortUp:first-child,
#host_table th.headerSortUp:first-child,
th.headerSortUp:first-child,
.group_grid_table th.headerSortDown:first-child,
.group_overview_table th.headerSortDown:first-child,
.comments_table th.headerSortDown:first-child,
#group_summary_table th.headerSortDown:first-child,
#service_table th.headerSortDown:first-child,
#host_table th.headerSortDown:first-child,
th.headerSortDown:first-child,
.group_grid_table th:first-child,
.group_overview_table th:first-child,
.comments_table th:first-child,
th.headerNone:first-child,
#group_summary_table th:first-child,
#service_table th:first-child,
#host_table th:first-child,
#host_table th.no-sort:first-child,
.group_grid_table th,
.group_overview_table th,
.comments_table th,
#group_summary_table th,
#service_table th,
#service_table th.headerNone,
th.headerNone,
#host_table th,
#host_table th.no-sort,
.group_grid_table th.header:first-child,
.group_overview_table th.header:first-child,
.comments_table th.header:first-child,
#group_summary_table th.header:first-child,
#service_table th.header:first-child,
#host_table th.header:first-child,
th.header:first-child,
.group_grid_table th.header,
.group_overview_table th.header,
.comments_table th.header,
#group_summary_table th.header,
#service_table th.header,
#host_table th.header,
th.header,
.autocomplete,
tr.odd td:first-child,
tr.even td:first-child,
tr.even td,
tr.odd td,
tr.odd td.bl,
tr.even td.bl,
tr.odd td.bt,
tr.even td.bt,
.widget-placeholder,
.widget-header,
table.health,
#quickbar{
	border-color: #ccc;
}

#menu ul li.hr {
	border-color: #ccc;
}

input[type=submit],
input[type=reset],
input[type=button],
input[type=text],
select {
	border: 0px solid #ccc;
	outline:  1px solid #ccc;
}
input.i160 { border: 0px; outline: 0px; }
#top-bar{
	background:#e9e9e9 url(images/bg.png) repeat-x;
}

#page_settings ul li,
#quickbar,
#menu ul li {
	background:#e0e0e0 url(images/bg.png) repeat-x;
}

tr td,
table.health tr td div.border {
	background:#ccc url(images/bg.png) repeat;
}

.widget-header.dark,
.status,
th,
tr td.dark,
tr.even td.status {
	background:#ccc url(images/bg.png) repeat;

}
.w-table,
table.extinfo {
	background: #ccc;
}

#menu ul li.hr {
background: #ffffff;
}

tr.even { background: #f8f8f8; }
tr.odd,
#menu,
#page_settings,
.autocomplete .selected { background-color: #f5f5f5; }

#page_settings ul li,
#menu ul li {
	background-position: 0px -1px;
}

.group_grid_table th.header,
.group_overview_table th.header,
.comments_table th.header,
#group_summary_table th.header,
#service_table th.header,
#host_table th.header,
th.header,
.group_grid_table th.header:first-child,
.group_overview_table th.header:first-child,
.comments_table th.header:first-child,
#group_summary_table th.header:first-child,
#service_table th.header:first-child,
#host_table th.header:first-child,
th.header:first-child {
	background: #ccc url(images/sort.png) top right;
	padding-right: 17px;
}

.group_grid_table th,
.group_overview_table th,
.comments_table th,
#group_summary_table th,
#service_table th,
#service_table th.headerNone,
th.headerNone,
#host_table th,
#host_table th.no-sort {
	background:#ccc url(images/bg.png) repeat-x;
}

.group_grid_table th.headerSortDown,
.group_overview_table th.headerSortDown,
.comments_table th.headerSortDown,
#group_summary_table th.headerSortDown,
#service_table th.headerSortDown,
#host_table th.headerSortDown,
th.headerSortDown,
.group_grid_table th.headerSortDown:first-child,
.group_overview_table th.headerSortDown:first-child,
.comments_table th.headerSortDown:first-child,
#group_summary_table th.headerSortDown:first-child,
#service_table th.headerSortDown:first-child,
#host_table th.headerSortDown:first-child,
th.headerSortDown:first-child {
	background: #ccc url(images/sort-down.png) top right;
	padding-right: 17px;
}

.group_grid_table th.headerSortUp,
.group_overview_table th.headerSortUp,
.comments_table th.headerSortUp,
#group_summary_table th.headerSortUp,
#service_table th.headerSortUp,
#host_table th.headerSortUp,
th.headerSortUp,
.group_grid_table th.headerSortUp:first-child,
.group_overview_table th.headerSortUp:first-child,
.comments_table th.headerSortUp:first-child,
#group_summary_table th.headerSortUp:first-child,
#service_table th.headerSortUp:first-child,
#host_table th.headerSortUp:first-child,
th.headerSortUp:first-child {
	background: #ccc url(images/sort-up.png) top right;
	padding-right: 17px;
}

/* Reports */
div.setup-table tr.odd td,
div.setup-table tr.even td {
	border-bottom: 1px solid #ccc;
	border-left: 0px;
	border-top: 0px;
	background: #f8f8f3;
	padding-top: 2px;
	padding-bottom: 2px;
}

tr#service_row_2 td.bl,
tr#host_row_2 td.bl,
tr#hostgroup_row td.bl,
tr#servicegroup_row td.bl {
	border-left: 1px solid #ccc;
}

div.setup-table tr.even td:first-child,
div.setup-table tr.odd td:first-child {
	border-left: 1px solid #ccc;
}

div.setup-table tr.odd td {
	background: #f1f1f1;
}

div#schedule_report tr.odd td {
	padding-left: 7px;
}
div.setup-table {
	clear: both;
	width: 100%;
	margin-bottom: 0px;
}

div.setup-table table tr td, div.setup-table table tr th {
	text-align: left;
}

#hostgroup_row{display:none;}
#servicegroup_row{display:none;}
#host_row_1{display:none;}
#host_row_2{display:none;}
#host_row_3{display:none;}
#service_row_1{display:none;}
#service_row_2{display:none;}
#settings_table{display:none;}
#submit_button{display:none;}
#enter_sla{display:none;}
#sla_setup{display:none;}

tr#hostgroup_row td {
	border: 0px solid #ccc;
}

#hostgroup_row select {
	overflow: hidden;
}

td a.help, a.help {
	color: #0186b3;
	font-weight: bold;
	text-decoration: none;
}

td.move-buttons {
	vertical-align: middle;
	padding: 10px 0px;
}

select.multiple {
	width: 351px;
}

#report_setup {
	position: relative;
	float: right;
	marginright-bottom: -2px;
}

#my_saved_searches_img{
	margin-top: -3px;
}

#save_search img{
	margin-bottom: -7px;
}

/***************************************************************************************************
*	DO NOT ADD ANY STYLE BELOW THE COLOURS SECTION. i.e. below this line
***************************************************************************************************/
