/* line 2, sass/form.sass */
.content form {
  overflow-x: auto; }
  /* line 5, sass/form.sass */
  .content form input, .content form select {
    margin: 2px 0 2px 8px; }
  /* line 9, sass/form.sass */
  .content form td select {
    width: 90%; }
  /* line 12, sass/form.sass */
  .content form .move-buttons {
    width: 50px; }
