/* line 3, sass/pagination.sass */
.pagination {
  max-width: 22%;
  float: left;
  margin: 4px; }
  /* line 7, sass/pagination.sass */
  .pagination span {
    vertical-align: middle; }
  /* line 9, sass/pagination.sass */
  .pagination strong {
    vertical-align: middle; }

/* line 12, sass/pagination.sass */
.pagination_form {
  max-width: 72%;
  float: left;
  padding: 3px; }
