table {
	border-spacing: 10;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
/* content ****************************************************************************************/
#license-bar,
#top-bar,
#navigation,
#quickbar,
#icons,
#status,
#menu,
#close-menu,
#show-menu,
#page_settings,
#infobar-sml p,
.report-links,
#availability_toolbox,
.testcase,
.helptext_target
{
	display: none;
}

#content {
	position: relative;
	top: 0px;
	margin: 0px 0px 0px 0px;
	padding-top: 0px;
}
#page_links ul {
	margin: 0px;
	padding: 0px;
}
#page_links ul li {
	list-style: none;
	line-height: 17px;
	background: url(images/arrow.gif) 0px 7px no-repeat;
	padding-left: 10px;
}
/* pagination *************************************************************************************/
#content p.pagination {
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}
#status_count_summary {
	float: left;
}
#content form.pagination_form {
	float: right;
}
