/* progress bar *************************************************************** */
/* line 3, sass/reports.sass */
#progress {
  margin-left: 40%; }
  /* line 6, sass/reports.sass */
  #progress em {
    /*display: block; */
    margin-top: 12px; }

/* response ******************************************************************** */
/* line 12, sass/reports.sass */
#response {
  margin-left: 0px;
  padding-top: 0px;
  background: #f9f9f5 url(images/bg.png) repeat-x;
  border: 1px solid white; }
  /* line 17, sass/reports.sass */
  #response h1 {
    font: bold 12px arial, helvetica, sans-serif;
    display: none; }
  /* line 20, sass/reports.sass */
  #response ul {
    padding: 7px 2px 5px 33px;
    margin: 0px;
    margin-bottom: 7px;
    width: auto;
    background: transparent 10px 8px no-repeat; }
  /* line 26, sass/reports.sass */
  #response li {
    background: none;
    padding: 2px 0px;
    width: auto;
    list-style: none; }
  /* line 32, sass/reports.sass */
  #response ul.ok {
    background-image: url(../../icons/16x16/shield-ok.png); }
  /* line 34, sass/reports.sass */
  #response ul.error {
    background-image: url(../../icons/16x16/shield-error.png); }
  /* line 36, sass/reports.sass */
  #response ul.warning {
    background-image: url(../../icons/16x16/shield-warning.png); }
  /* line 38, sass/reports.sass */
  #response ul.info {
    background-image: url(../../icons/16x16/shield-info.png); }
  /* line 40, sass/reports.sass */
  #response ul.help {
    background-image: url(../../icons/16x16/shield-help.png); }

/* id:s ******************************************************************** */
/* line 45, sass/reports.sass */
#display_service_status {
  display: none; }

/* line 48, sass/reports.sass */
#multiple_hosts {
  margin-top: 7px; }

/* line 51, sass/reports.sass */
#log_entries {
  padding-bottom: 15px; }

/* line 54, sass/reports.sass */
a#optiontoggle {
  margin: 5px; }

/* line 57, sass/reports.sass */
#new_schedule_report_table {
  width: auto; }

/* line 60, sass/reports.sass */
#switcher {
  margin-top: -15px; }

/* line 63, sass/reports.sass */
#save_to_schedule em {
  font-style: italic; }

/* line 67, sass/reports.sass */
.action img {
  margin-left: 5px;
  margin-top: 2px;
  width: 16px;
  height: 16px; }
/* line 72, sass/reports.sass */
.action a {
  border: 0 !important; }

/* line 75, sass/reports.sass */
.report-page-setup, .report-page {
  padding: 0px 1%; }

/* line 79, sass/reports.sass */
.report-page-setup.availsla {
  padding: 0px; }
/* line 81, sass/reports.sass */
.report-page-setup.recurring_dt_schedule {
  padding: 0px;
  margin: 0px -2px; }

/* line 85, sass/reports.sass */
.pie-chart {
  display: block;
  float: left;
  width: auto;
  margin-right: 7px; }

/* line 91, sass/reports.sass */
.chart-border {
  border: 1px solid gainsboro; }

/* line 94, sass/reports.sass */
.log_messages {
  clear: both;
  float: left; }

/* line 98, sass/reports.sass */
.headerNone.left {
  text-align: left; }

/* tables ********************************************************************** */
/* line 103, sass/reports.sass */
caption {
  padding-left: 0px; }

/* line 106, sass/reports.sass */
.setup-table {
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  border-collapse: collapse; }
  /* line 112, sass/reports.sass */
  .setup-table table tr td {
    border: 0px;
    background-color: transparent; }

/* line 116, sass/reports.sass */
#new_schedule_report_table tr td {
  background: none;
  vertical-align: top;
  width: auto; }

/* line 121, sass/reports.sass */
tr#pdf-hide td {
  background: transparent;
  margin-top: 5px;
  text-align: right;
  padding-right: 2px; }

/* line 127, sass/reports.sass */
th.headerNone {
  white-space: nowrap;
  text-align: right; }

/* line 132, sass/reports.sass */
tr.dark td, tr.odd td.dark {
  border: 1px solid #dcdccd;
  border-left: 0px;
  background: #efefef;
  border-top: 0px;
  padding-top: 2px;
  padding-bottom: 2px; }
/* line 139, sass/reports.sass */
tr.even td.dark {
  border: 1px solid #dcdccd;
  border-left: 0px;
  background: #efefef;
  border-top: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding: 2px 5px;
  border-left: 1px solid gainsboro;
  vertical-align: bottom;
  width: auto;
  text-align: left; }
/* line 151, sass/reports.sass */
tr.dark td.data, tr.odd td.data, tr.even td.data {
  text-align: right;
  white-space: nowrap; }

/* line 157, sass/reports.sass */
table.multiple_services tr.odd td.data, table.multiple_services tr.even td.data {
  text-align: right;
  white-space: nowrap; }
/* line 161, sass/reports.sass */
table#multiple_hosts tr.odd td.data, table#multiple_hosts tr.even td.data {
  text-align: right;
  white-space: nowrap; }

/* line 165, sass/reports.sass */
.data_red {
  text-align: right;
  white-space: nowrap;
  background: url(../../reports/images/response.png) #ffe8e8 repeat-x; }

/* line 170, sass/reports.sass */
.data_green {
  text-align: right;
  white-space: nowrap;
  background: url(../../reports/images/response.png) #e3f8dc repeat-x; }

/* line 176, sass/reports.sass */
tr.odd td.data img, tr.even td.data img, tr.dark td.data img {
  margin-bottom: -1px; }
/* line 178, sass/reports.sass */
tr.none td {
  border: 0px;
  background: white; }

/* line 182, sass/reports.sass */
table.setup-tbl {
  width: 100%; }
  /* line 184, sass/reports.sass */
  table.setup-tbl tr td {
    padding: 0px 5px 0px 0px;
    border: 0; }

/* line 188, sass/reports.sass */
#new_schedule_report_table tr td {
  padding: 0px 15px 0px 0px; }

/* line 191, sass/reports.sass */
table.white-table tr.no-result td {
  background: white;
  font-style: italic;
  padding-left: 0px; }

/* time picker ********************************************************************************* */
/* line 199, sass/reports.sass */
div.time-picker {
  position: absolute;
  height: 200px;
  width: 9em;
  /* needed for IE */
  overflow: auto;
  background: white;
  border: 1px solid #d0d0d0;
  z-index: 99; }
/* line 208, sass/reports.sass */
div.time-picker-12hours {
  width: 6em;
  /* needed for IE */ }
/* line 212, sass/reports.sass */
div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
/* line 216, sass/reports.sass */
div.time-picker li {
  padding: 1px;
  cursor: pointer; }
  /* line 219, sass/reports.sass */
  div.time-picker li.selected {
    background: #316ac5;
    color: white; }

/* line 223, sass/reports.sass */
.time_error {
  border: 1px solid red;
  color: red; }

/* tab specifics ********************************************************************************* */
/* line 229, sass/reports.sass */
.ui-widget-content {
  border: 0px;
  background: white;
  color: #222222; }

/* line 234, sass/reports.sass */
.ui-widget-header {
  border: 0px;
  background: #cdcdcd url(images/bg.png) repeat-x;
  border-bottom: 1px solid #cdcdcd;
  color: #222222;
  font-weight: bold; }

/* line 241, sass/reports.sass */
.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #cdcdcd;
  background: #dddddd url(images/bg.png) repeat-x;
  font-weight: normal;
  color: #555555;
  outline: none; }

/* line 248, sass/reports.sass */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  border: 1px solid #cdcdcd;
  background: #aaaaaa url(images/bg.png) repeat-x;
  font-weight: normal;
  color: #212121;
  outline: none; }

/* line 255, sass/reports.sass */
.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid #cdcdcd;
  background: white;
  font-weight: normal;
  color: #212121;
  outline: none; }

/* line 262, sass/reports.sass */
.ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

/********************************************************************* */
/* line 268, sass/reports.sass */
input, select, textarea {
  background: #fafafa;
  border: 1px solid #cccccc;
  outline: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px 1px;
  margin-top: 3px;
  margin-left: 0px;
  margin-bottom: 15px; }

/* line 279, sass/reports.sass */
select {
  width: 382px;
  padding: 2px 1px; }
  /* line 282, sass/reports.sass */
  select[multiple=multiple] {
    padding: 3px;
    width: 380px; }

/* line 287, sass/reports.sass */
input[type=button], input[type=submit], input[type=reset], input[type=checkbox], input[type=radio] {
  width: auto; }

/* line 290, sass/reports.sass */
select.auto {
  width: auto; }

/* line 294, sass/reports.sass */
input[type=checkbox], input[type=radio] {
  margin: 0px;
  margin-bottom: 5px;
  border: 0px; }

/* line 299, sass/reports.sass */
button {
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid #cccccc;
  outline: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 5px !important;
  margin-bottom: 5px; }

/* line 309, sass/reports.sass */
input[type=reset], input[type=submit], input[type=button] {
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid #cccccc;
  outline: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 5px !important;
  margin-bottom: 5px; }

/* line 318, sass/reports.sass */
.form-dropdown {
  padding: 10px;
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid gainsboro;
  display: none; }
  /* line 323, sass/reports.sass */
  .form-dropdown input, .form-dropdown form {
    margin: 0; }

/* line 327, sass/reports.sass */
input.wide, input.sla_month, input#cal_end, input#report_name, input.datepick-end, input.datepick-start, input#cal_start, input#summary_items, input#filter_field, input#time_start, input#time_end, input#duration, input#time_input, input#filename, input#local_persistent_filepath, input#recipients {
  background: #fafafa;
  border: 1px solid #cccccc;
  outline: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 1px;
  width: 378px;
  margin-top: 3px;
  margin-left: 0px;
  margin-bottom: 15px; }

/* line 340, sass/reports.sass */
textarea {
  width: 378px; }

/* line 344, sass/reports.sass */
input.sla_month {
  width: 30px; }
/* line 346, sass/reports.sass */
input.wide {
  padding: 2px 4px;
  width: 460px;
  margin: 0px;
  margin-top: 3px; }
/* line 351, sass/reports.sass */
input#time_input, input#duration, input#cal_end, input#cal_start, input.datepick-end, input.datepick-start, input#time_start, input#time_end {
  width: 100px; }

/* line 354, sass/reports.sass */
select#period.popup {
  margin-top: 3px;
  width: 100px; }

/* alert summary specifics ******************************************** */
/* line 360, sass/reports.sass */
input#summary_items {
  width: 50px; }

/* line 363, sass/reports.sass */
#settings_table, #std_report_table {
  width: auto; }

/* line 366, sass/reports.sass */
#settings_table tr td, #std_report_table tr td {
  padding: 0px 5px 0px 0px;
  background: none; }

/* line 371, sass/reports.sass */
td.iseditable input, td.report_name select, td.period_select select {
  width: auto;
  display: block;
  margin-bottom: 5px; }

/* line 376, sass/reports.sass */
.txtarea textarea {
  display: block;
  margin-bottom: 5px; }

/* line 380, sass/reports.sass */
.output {
  white-space: normal;
  border: 0 !important;
  margin: 0;
  padding: 0; }
  /* line 385, sass/reports.sass */
  .output tr, .output td {
    white-space: normal;
    border: 0 !important;
    margin: 0;
    padding: 0; }

/* line 391, sass/reports.sass */
.comments {
  text-align: right; }
  /* line 393, sass/reports.sass */
  .comments .author {
    font-style: italic; }

/* line 396, sass/reports.sass */
.editing-comments {
  min-width: 40%; }

/* a report block is a logical unit that contains information */
/* line 401, sass/reports.sass */
.report-block {
  width: 100%;
  float: none;
  clear: both;
  padding-top: 2em; }
