
.notify-notification-bar {
  width: 100%;
}

.notify-notification-bar .icon-16 {
  vertical-align: middle;
  margin: 0 8px;
}

.notify-notification-bar .notify-notification-message {
  vertical-align: middle;
  margin: 0 4px;
}

.notify-notification-bar .notify-notification-buttons {
  display: inline-block;
}

.notify-notification-bar .notify-notification-buttons button {
  margin: 0 8px;
  vertical-align: middle;
  display: inline-block;
  background-color: #eee;
  border-radius: 2px;
  border: 1px solid #bbb;
  color: #444;
}

.notify-notification-bar .notify-notification {
  text-align: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  font-size: 10pt;
  padding: 6px;
}

.notify-notification-zone {
  position: fixed;
  top: 64px;
  left: 25%;
  width: 50%;
  z-index: 100;
}

.notify-notification-zone .icon-16 {
  vertical-align: middle;
  margin: 0 8px;
}

.notify-notification-zone .notify-notification-message {
  vertical-align: middle;
  color: #444444;
  margin: 0 4px;
}

.notify-notification-zone .notify-notification-buttons {
  margin: 2px;
  display: block;
}

.notify-notification-zone .notify-notification-buttons button {
  margin: 2px 2px 0 2px;
  vertical-align: middle;
  display: inline-block;
  background-color: #eee;
  border-radius: 2px;
  border: 1px solid #bbb;
  color: #444;
}

.notify-notification-zone .notify-notification {
  border-width: 1px;
  border-style: solid;
  border-top-width: 8px;
  border-bottom-color: #cccccc;
  border-right-color: #cccccc;
  border-left-color: #cccccc;
  background: #fff;
  text-align: center;
  padding: 8px 8px 4px 8px;
  margin: 4px 0;
}

button.command-button {
  overflow: visible;
  display: inline-block;
  border: 1px solid #999;
  border-color: #bbb #999 #999 #bbb;
  box-shadow: inset 0 0 0 1px #fff;
  background-color: #e5e5e5;
  border-radius: 2px;
  font-size: 9pt;
  color: #666;
} button.command-button:hover {
  background-color: #ebebeb;
  border-color: #aaa #888 #888 #aaa;
  color: #222;
}

button.command-button[data-state] {
  position: relative;
  margin-left: 30px;
}

button.command-button[data-state] span {

  display: block;
  position: absolute;
  vertical-align: middle;
  height: 12px;
  width: 12px;
  left: -24px;
  border-radius: 8px;
  box-shadow: 1px 1px 0px 0px #fff;

} button.command-button[data-state="1"] span {
  background: #8e2;
  border: 1px solid #4a1;
} button.command-button[data-state="0"] span {
  background: #e82;
  border: 1px solid #a41;
}
