*.spec
*.tar.gz
.htaccess
generated/*
.cache
.project
.settings
*.kpf
*~
Documentation
application/widgets/cloudinfo
.DS_Store
*.swp
modules/op5reports
*.dojod
.sass-cache

# Generated code
modules/*/js
modules/*/html
modules/*/models/base
modules/*/manifest/orm_*.php

application/views/css/*/*.css
application/views/icons/x*-*.png
application/views/icons/menu-*.png
!application/views/css/default/ie7.css
!application/views/css/default/jquery-ui-custom.css
!application/views/css/pink_n_fluffy/ie7.css
!application/views/css/pink_n_fluffy/jquery-ui-custom.css
!application/views/css/classic/ie7.css
!application/views/css/classic/jquery-ui-custom.css
