*.spec
*.tar.gz
.htaccess
generated/*
.cache
.project
.settings
*.kpf
*~
Documentation
application/widgets/cloudinfo
.DS_Store
*.swp
modules/op5reports
*.dojod
.env
application/logs
application/config/custom/*

# Generated code
modules/*/js
modules/*/html
modules/*/models/base
modules/*/manifest/orm_*.php
src/generators/*
