.state_summary-state .big-number {
	display: inline-block;
	font-size: 65px;
	line-height: 65px;
	margin: 14px 16px 15px 16px;
	min-width: 75px;
}

.state_summary-state .big-number .big-number-perfdata-uom {
  font-size: 50%;
}

.state_summary-state {
	display: inline-block;
	margin-top: 0px;
	text-transform: uppercase;
}

p.explanation {
	display: inline-block;
	line-height: 85px;
	font-weight: bold;
	text-transform: uppercase;
}
