@import "compass/css3/images"
@import "config"

.header
	@include background(linear-gradient(top, $gradient-dark-hi, $gradient-dark-lo))
	@include filter-gradient($gradient-dark-hi, $gradient-dark-lo, vertical)
	box-shadow: 0 0 6px $weak_shadow_color
	border-bottom: 1px solid $border-color-dark
	height: $header_height
	min-width: 768px
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 2

	.logo
		position: fixed
		left: 0px
		top: 0px
		padding: 7px
		border-radius: 0px 0px 5px 0px
		border: 1px solid $border-color-dark
		border-top: none
		border-left: none
		box-shadow: 0 0 3px $weak_shadow_color
		@include background(linear-gradient(top, $gradient-dark-hi, $gradient-dark-lo))
		@include filter-gradient($gradient-dark-hi, $gradient-dark-lo, vertical)

	.supermenu

		margin-left: 52px
		height: $header_height
		float: left

		ul
			margin: 0
			padding: 0
			width: 100%
			display: block
			float: left

			li
				margin: 0
				padding: 5px 8px
				float: left
				border-right: 1px solid $border-color-dark
				display: block

				&:hover
					@include background(linear-gradient(top, #fefffd, #dedfdd))
					@include filter-gradient(#fefffd, #dedfdd, vertical)

	.headercontent
		float: left
		margin-left: 20px
		margin-top: 22px
		padding: 0
		border-radius: 6px 6px 0 0
		border: 1px solid $border-color-dark
		border-bottom: none
		font-size: 0.9em

		ul
			float: left

			li
				float: left
				border-right: 1px solid $border-color-light
				border-radius: 5px 5px 0 0

				&:hover
					@include background(linear-gradient(top, #f8f8f8, #fff))
					@include filter-gradient(#f8f8f8, #fff, vertical)
		a

			span
				cursor: pointer
				margin: 6px 6px 0 6px
				background-repeat: no-repeat
				overflow: auto
