#content.content {
	padding: 20px 2px 0 2px;
} /* FIX AGAINST GENERAL CONTENT PADDING */
#lsfilter_save_filter_name {
	margin-bottom: 0;
} /* FIX AGAINST REPORT CSS */
#filter-query-builder,#filter-query-multi-action {
	display: none;
	box-shadow: 0 2px 2px 3px #ddd;
	box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
	background: #f5f5f5;
	border: 1px solid #999;
	position: fixed;
	top: 76px; /* topbar + extra toolbar height */
	right: 0; /* Attach to right corner */
	width: 75%;
	z-index: 1;
}

#filter-query-builder,#filter-query-multi-action {
	max-height: 500px;
	overflow: auto;
	display: none;
	padding: 8px;
}

#lsfilter_save_filter.saving {
	background: url('loading_small.gif') no-repeat;
	background-position: left center;
	padding-left: 22px !important;
}

.lsfilter-noresult {
	display: inline-block;
	margin: 16px 16px;
}

.lsfilter-loader {
	background: url('loading_small.gif') no-repeat;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	margin-right: 32px;
	padding-left: 22px;
	height: 16px;
	*display: inline;
}

.lsfilter-loader span {
	vertical-align: middle;
}

.lsfilter-edit-bar {
	margin-right: 20px !important;
}

.lsfilter-edit-bar button {
	background: transparent;
}

.lsfilter-edit-bar button.active {
	background: rgba(0, 0, 0, 0.1);
}

.lsfilter-edit-bar button:hover {
	cursor: pointer;
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
}

#filter_result tbody tr:hover {
	background: #fdfdfd;
	color: #222;
}

#filter_result tbody tr:hover>td {
	border-color: #999;
}

#filter_result tbody tr:hover>td,#filter_result tbody tr:hover>td a {
	color: #222;
}

.listview-col-hover {
	background: #fdfdfd;
	border-color: #999;
	color: #222;
}

th span.header-icon {
	display: block;
	margin: 0 auto;
}

.listview-empty-cell {
	border: none !important;
	background: transparent !important;
}

#filter_result thead th {
	border-top: none;
	border-bottom: 1px solid #aaa;
	padding-bottom: 0;
	padding-right: 0;
}

.lsfilter-sort-span {
	float: right;
	text-align: center;
	padding-right: 4px;
}

th.sortable:hover {
	background: #C6E4EE;
	cursor: pointer;
}

th.sortable.current {
	background: lightblue;
}

.extra_toolbar {
	top: 48px;
	left: 0;
	box-shadow: 0 0 2px 2px #ddd;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #999;
	padding: 0 2px 4px 2px;
	position: fixed;
	height: 24px;
	width: 100%;
	background: -ms-linear-gradient(top, #fafbf9, #e3e4e2);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafbf9),
		color-stop(100%, #e3e4e2) );
	background: -webkit-linear-gradient(top, #fafbf9, #e3e4e2);
	background: -moz-linear-gradient(top, #fafbf9, #e3e4e2);
	background: -o-linear-gradient(top, #fafbf9, #e3e4e2);
	background: linear-gradient(top, #fafbf9, #e3e4e2);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FFFAFBF9', endColorstr='#FFE3E4E2' );
	z-index: 1;
	overflow: hidden;
}

.extra_toolbar ul li {
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	height: 24px;
	float: left;
	padding: 2px 0.5em;
	line-height: 24px;
}

.extra_toolbar ul li * {
	vertical-align: middle;
}

.extra_toolbar_category {
	padding-left: 16px !important;
}

.extra_toolbar_spacer {
	height: 11px;
}

#filter_result {
	margin: -2px -2px 0 -2px;
}

.floating-header {
	box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
	left: 0px;
	top: 77px;
	position: fixed;
	z-index: 0;
}

.floating-header tr {
	width: 100%;
	display: block;
}

.listview-summary li span {
	vertical-align: middle;
}

.table_pagination td {
	font-size: 12pt;
	padding: 0.1em;
	text-align: center;
}

.selected_odd td {
	background-color: #EEE4E4 !important;
}

.selected_even td {
	background-color: #FFEEEE !important;
}

/*
 * Service count in host detail listing
 */
td.cell_svccnt a {
	border-bottom: 0;
}

tr.even td.cell_svccnt_all {
	
}

tr.odd td.cell_svccnt_all {
	
}

tr.even td.cell_svccnt_ok {
	background-color: #CCFFCC !important;
}

tr.odd td.cell_svccnt_ok {
	background-color: #BBEEBB !important;
}

tr.even td.cell_svccnt_warning {
	background-color: #FFFFCC !important;
}

tr.odd td.cell_svccnt_warning {
	background-color: #EEEEBB !important;
}

tr.even td.cell_svccnt_critical {
	background-color: #FFDDCC !important;
}

tr.odd td.cell_svccnt_critical {
	background-color: #FFCCC3 !important;
}

tr.even td.cell_svccnt_unknown {
	background-color: #FFEEDD !important;
}

tr.odd td.cell_svccnt_unknown {
	background-color: #FFE7D4 !important;
}

tr.even td.cell_svccnt_pending {
	background-color: #DDDDDD !important;
}

tr.odd td.cell_svccnt_pending {
	background-color: #CCCCCC !important;
}

/*
 * Visual filter editor
 */
.lsfilter_visual_group,.lsfilter_visual_match {
	padding: 0;
	margin: 1em 1em 1em 2em;
}

.lsfilter_visual_group_and {
	background-color: #fbfbfb;
}

.lsfilter_visual_group_or {
	background-color: #f5f5f5;
}

.lsfilter_visual_not {
	margin-left: 3em;
}

.lsfilter_visual_group_header {
	display: block;
	font-weight: bold;
	vertical-algin: middle;
}

.lsfilter_visual_node_remove {
	display: inline-block;
	float: right;
	border: 0;
}

.lsfilter_visual_node_remove:hover {
	border: 0;
}

.lsfilter_visual_node_addrule,.lsfilter_visual_node_addgroup,.lsfilter_visual_node_negate
	{
	display: inline-block;
	margin: 0 0.5em 0 0;
}

.lsfilter_visual_field_select,.lsfilter_visual_operator_select,.lsfilter_visual_value_field
	{
	width: 32%;
}