/* *
 * Borders and background colour
 * */
.success {
    background: #F0F9EC;
    border: 1px solid #82C448;
}
.wait {
    background: #E5F1F8;
    border: 1px solid #0277BD;
    background-image: url('/monitor/application/media/images/loading_small.gif');
    background-repeat: no-repeat;
    background-position: top 8px left 12px;
}
.fail {
    background: #FBEBEB;
    border: 1px solid #D93939;
}

/* *
 * Banner, on the middle of the page
 * */
.export-detail-banner {
    width: 25%;
    margin: 20px auto;
    padding: 10px 15px 10px 40px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    color: #000;
}
.export-detail-banner a {
    color: steelblue;
    margin-left: 15px;
}

/* *
 * Icon on notification
 * */
.status-message-icon {
    font-size: 20px;
    width: 40px;
    height: 20px;
    float: left;
    margin-top: 10px;
}
.success .status-message-icon {
    color: #82C448;
}
.fail .status-message-icon {
    color: #D93939;
}

/* *
 * Dialog with more details and detail bars
 * */
.export-detail-bar {
    width: 95%0%;
    height: 25px;
    margin: 3px;
    padding: 10px 5px 3px 20px;
    line-height: 1.7;
    background: #EEEEEE;
}
.export-detail-text {
    width: 50%;
    float: left;
}
.export-detail-icon {
    font-size: 20px;
    width: 40px;
    height: 20px;
    float: right;
    line-height: 1;
    color: #000;
    margin: auto;
    text-align: left;
}
.export-detail-icon > img {
    margin-left: 5px;
}
.export-success-details, .state-ok-details {
    background: #82C448;
}
.export-fail-details, .cancel-circled-details {
    background: #D93939;
    color: #fff;
}