/* *
 * Dialog with more details and detail bars
 * */
.export-detail-bar {
    width: 95%;
    height: 25px;
    margin: 3px;
    padding: 10px 10px 10px 10px;
    line-height: 2;
}
.export-detail-description {
    padding: 0 0 15px 15px;
}
.export-detail-text {
    width: 80%;
    float: right;
    color: silver;
}
.current-export-state > p.export-detail-text {
    color: #000;
    font-size: 16px;
    line-height: 1.6;
}
.export-detail-text-in-progress {
    width: 80%;
    float: right;
    color: silver;
    font-size: 10px;
    font-style: italic;
    line-height: 1.2;
}
.export-state-detail {
    color: silver;
    font-size: 12px;
    padding-left: 20px;
}
.export-detail-icon {
    font-size: 30px;
    float: left;
    line-height: 35px;
    color: #0077ba;
    text-align: left;
}
.current-export-state > div.export-detail-icon {
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #E5F1F8;
    border: 1px solid #0077ba;
    margin-left: 3px;
}
.current-export-state {
    color: #000;
}
.export-state-pending > div.export-detail-icon {
    color: silver;
    font-size: 12px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 27px;
    border-radius: 50%;
    background: #eee;
    border: 1px solid silver;
    margin-left: 8px;
}
.export-state-all-success > div.export-detail-icon {
    color: #7ac453;
}
.export-state-pending > div.export-detail-icon {
    color: silver;
}

.export-state-rollback > div.export-detail-icon {
    color: silver;
}
.current-export-state-rollback > div.export-detail-icon {
    font-size: 30px;
    float: left;
    line-height: 35px;
    color: #ee5155;
    text-align: left;
}
input.export-close-button {
    padding: 5px 15px 5px 15px;
}

div.vertical-timeline {
    background: silver;
    height: 28px;
    width: 1px;
    margin-top: 25px;
    margin-left: 20px;
}