.x-item {
    overflow: hidden; 
    width: 100%;
}
.tgraph-row {
    position: relative;
    width: 84%;
    height: 40px;
    color: #333;
    float: left;
    padding-left: 1%;
    font: normal normal 8pt Helvetica, Arial, Verdana, sans-serif;
}
.tgraph-blockline {
    margin: 2px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    direction: rtl;
    display: -webkit-box; 
    display: -moz-box;    
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;        
    justify-content: space-around;
}
.tgraph-blockline .bar {
    height: 20px;
    margin: 0;
    color: white;
}
.tgraph-sub-blockline {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    direction: rtl;
    display: -webkit-box; 
    display: -moz-box;    
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;        
    justify-content: space-around;
}
.tgraph-sub-blockline .bar {
	position: relative;
	margin: 0 auto;
	height: 10px;
	min-width: 45px;
    color: white;
}
.tgraph-sub-blockline .bar-transparent {
	position: relative;
	margin: 0;
	height: 10px;
    color: white;
    background: 'transparent';
}
.tgraph-time {
    float: left;
    text-align: left;
    font-size: 7pt;
}
.tgraph-timeline {
    margin: 0 0;
    border-left: 1px solid #000;
    opacity: 0.1;
    z-index: 0;
    width: 0;
}
.y-label {
    float: left;
    width: 15%;
    padding: 10px 0 0 0;
    min-height: 30px;
    font-size: 8pt;
    text-align: right;
}
#tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    padding: 5px;
    display: none;
}