h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, tahoma, sans-serif;
  margin: 1px 0;
}

h1 {
  font-size: 1.3em;
  margin: 10px 0;
}

h2 {
  font-size: 1.2em;
  margin: 6px 0;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 1.05em;
}

.alpha {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.white {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

/* line 95, ../base-sass/common.sass */
.badge {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 1px 8px;
  margin: 1px 4px 0px 4px;
  border-radius: 3px;
  min-width: 16px; }

/* line 108, ../base-sass/common.sass */
.alert, #response .alert {
  background: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
  margin: 1em;
  padding: 8px 35px 8px 14px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* line 116, ../base-sass/common.sass */
.error, #response .error {
  background: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

/* line 121, ../base-sass/common.sass */
.notice, #response .notice {
  background: #e3f8e3;
  border-color: #d5eed5;
  color: #539853; }

/* line 126, ../base-sass/common.sass */
.warning, #response .warning {
  background: #fcf8d3;
  border-color: #ebdeb5;
  color: #b06823; }

/* line 131, ../base-sass/common.sass */
.alert p {
  font-size: 120%; }

/* line 134, ../base-sass/common.sass */
.long_output {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  /* line 142, ../base-sass/common.sass */
  .long_output img {
    margin: 4px 8px;
    vertical-align: middle; }

/* line 151, ../base-sass/common.sass */
body {
  font: normal normal 0.75em helvetica, arial, tahoma, sans-serif;
  color: #332a2a;
  background: #f9d9d9;
}

/* line 168, ../base-sass/common.sass */
hr {
  height: 0px;
  border: none;
  border-bottom: 1px solid #d05789;
}

table .dark {
  background-color: #ffccd9;
  border: 1px solid #d05789;
  box-shadow: inset 0 0 2px 4px #ff99b3;
}

table th {
  background: #feeded;
  border-bottom: 1px solid #edebe9;
  font-size: 1.1em;
}

table .header {
  background: none;
  box-shadow: none;
}

table tr {
  background: none;
}

table tr.odd td {
  background: #f9d9d9;
}

table tr.even td {
    background: #f9e3e3;
}

table tr.odd:hover td, table tr.even:hover td {
  background: lightblue;
  color: black;
}

table td {
  border-color: #dddbd9;
}

table td:last-child {
  border-right: 1px solid #dddbd9;
}

table td:first-child {
  border-left: none;
}

#host_table tr:hover, #service_table tr:hover, .host_table tr:hover, .service_table tr:hover {
  outline: 1px solid #b04779;
}

a, input[type="submit"].plain, button.plain {
  color: #665555;
  text-decoration: none;
  border-bottom: 1px dotted #665555;
}

a.no_uline, input[type="submit"].plain.no_uline, button.plain.no_uline {
  border-bottom: 0 dotted #665555;
}

a:hover, input[type="submit"].plain:hover, button.plain:hover {
  color: #443333;
  border-bottom: 1px dotted #443333;
}

input[type="text"], input[type="password"] {
  border-color: #b04779;
}

input[type="submit"].plain {
  background: transparent;
}

.autocomplete {
  background: #f9d9d9;
  border-color: #d05789;
}

.autocomplete .selected {
  background-color: #dddddd;
}

.page_settings {
  background: #f9d9d9;
  border-color: #d05789;
  box-shadow: 0 2px 3px #bbbbbb;
}

.page_settings .unselected {
  background: url("images/checkbox.png") no-repeat;
}

.page_settings .selected {
  background: url("images/checkbox-selected.png") no-repeat;
}

.page_settings li {
  border-bottom: #b04779;
  background-color: #ffccd9;
}

.configuration-page-link a:hover {
  background-color: #f9d9d9;
}

.configuration-page-description {
  font-style: italic;
  color: #777777;
}

.main-toolbar {
  border-color: #b04779;
  background: #ff99b3;
}

.main-toolbar .main-toolbar-menu > ul > li {
  border-left: 1px solid #d05789;
}

.main-toolbar .main-toolbar-title {
  border-right: 1px solid #d05789;
  font-size: 120%;
}

.main-toolbar .main-toolbar-subtitle {
  font-size: 120%;
}

.main-toolbar .main-toolbar-buttons a {
  border-left: 1px solid #d05789;
}

.main-toolbar .main-toolbar-buttons a:first-child {
  border-left: none;
}

.header {
  background: #feeded;
  border-bottom: 1px solid #b04779;
}

.header .headercontent ul li {
  border: 1px solid #cccccc;
}

.header .headercontent ul li:hover {
  border-color: #999999;
  background: white;
}

.header .headercontent a span {
  cursor: pointer;
}


.menu ul li:hover {
  background: #f0f0f0;
  cursor: default;
}

.menu ul li ul {
  border-color: #b04779;
  box-shadow: 0 2px 3px #bbbbbb;
  background: white;
}

.menu ul li ul li {
  border-color: #d05789;
}

.menu ul li ul li span.menu-section:after,
.menu ul li ul li a.menu-section:after {
  font-size: 80%;
  content: "▼";
  color: #555555;
}

a.external {
  background: url(../../icons/external_link.gif) right center no-repeat;
  padding-right: 16px;
}

#dojo-quicklink-internal li {
  position: relative;
}

#dojo-quicklink-internal li.selected {
  background-color: #f2f2f2;
  border: 1px solid #999999;
}

#dojo-add-quicklink {
  float: left;
  opacity: 0.5;
  margin-top: 18px;
  margin-left: 6px;
  display: inline-block;
  opacity: 0.7;
}

#dojo-add-quicklink:hover {
  border: none;
  opacity: 1;
}

#dojo-icon-container td.highlight {
  background: lightblue;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#dojo-icon-container td span {
  cursor: pointer;
}

.setup-table table tr td {
  border: 0px;
  background-color: transparent;
}

th.headerNone {
  white-space: nowrap;
  text-align: right; }

tr.dark td, tr.odd td.dark {
  border-color: #dcdccd;
  background: #efefef;
}

tr.even td.dark {
  border-color: #dcdccd;
  background: #efefef;
  border-left-color: gainsboro;
}

tr.none td {
  border: 0px;
  background: white;
}

table.white-table tr.no-result td {
  background: white;
  font-style: italic;
}

.comments .author {
  font-style: italic;
}

