body {
  font-size: 10pt;
  font-family: 'Helvetica', 'Arial', 'Tahoma', sans-serif;
  color: #332a2a;
  background: #fff5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', 'Arial', 'Tahoma', sans-serif;
}

h1 {/* Can set font-family and color */}

h2 {/* Can set font-family and color */}

h3 {/* Can set font-family and color */}

h4 {/* Can set font-family and color */}

h5 {/* Can set font-family and color */}

h6 {/* Can set font-family and color */}

form textarea {
  border-color: #b04779;
}

form input[type="text"],
form input[type="password"] {
  border-color: #b04779;
}

hr {
  height: 0px;
  border: none;
  border-bottom: 1px solid #d05789;
}

table .dark {
  background-color: #ffccd9;
  border: 1px solid #d05789;
  box-shadow: inset 0 0 2px 4px #ff99b3;
}

table th {
  background: #feeded;
  border-bottom: 1px solid #edebe9;
}

table .header {
  background: none;
  box-shadow: none;
}

table tr {
  background: none;
}

table tr:nth-child(even) td {
  background: #ffdddd;
}

table tr:hover td {
  background: #ffeeee;
  color: black;
}

table td {
  border-color: #eecccc;
}

table td:last-child {
  border-right: 1px solid #dddbd9;
}

table td:first-child {
  border-left: none;
}

a {
  color: #773344;
  text-decoration: none;
  border-bottom: 1px dotted #773344;
}

a:hover {
  color: #440011;
  text-decoration: none;
  border-bottom: 1px dotted #440011;
}

.alert {
  background: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

/* These classes are to be used with the alert
 * class such as a div with class "alert
 * error" or with the badge class such as a
 * span with class "badge error" */

.error {
  background: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.success {
  background: #dff0d8;
  border-color: #cfe0c8;
  color: #114411;
}

.notice {
  background: #e3f8e3;
  border-color: #d5eed5;
  color: #539853;
}

.warning {
  background: #fcf8d3;
  border-color: #ebdeb5;
  color: #b06823;
}
/* State colors, state colors should only be used on "final" elements
 * and are therefor !important */

.state-critical,
.state-down{
  background: #f2cece !important;
  border-color: #eeb3b7 !important;
  color: #b94a48;
}

.state-ok,
.state-up{
  background: #dff0d8 !important;
  border-color: #cfe0c8 !important;
  color: #114411;
}

.state-warning {
  background: #fcf8d3 !important;
  border-color: #ebdeb5 !important;
  color: #b06823;
}

.state-unknown,
.state-unreachable {
  background: #ffddbb !important;
  border-color: #ccaa99 !important;
  color: #b06823;
}

.state-pending {
  background: #dedede !important;
  border-color: #bebebe !important;
  color: #777777;
}

.state-info {
  background: #cfd0f8 !important;
  border-color: #bfc0e8 !important;
  color: #114411;
}

/* Style the global search autocomplete box */

.autocomplete {
  background: #f9d9d9;
  border-color: #d05789;
}

.autocomplete .selected {
  background-color: #dddddd;
}

.page_settings {
  background: #f9d9d9;
  border-color: #d05789;
  box-shadow: 0 2px 3px #bbbbbb;
}

.page_settings li {
  border-bottom: #b04779;
  background-color: #ffccd9;
}

.configuration-page-link a:hover {
  background-color: #f9d9d9;
}

.configuration-page-description {
  font-style: italic;
  color: #777777;
}

.main-toolbar {
  border-color: #b04779;
  background: #ff99b3;
}

.main-toolbar .main-toolbar-menu > ul > li {
  border-left: 1px solid #d05789;
}

.main-toolbar .main-toolbar-title {
  border-right: 1px solid #d05789;
  font-size: 120%;
}

.main-toolbar .main-toolbar-subtitle {
  font-size: 120%;
}

.main-toolbar .main-toolbar-buttons a {
  border-left: 1px solid #d05789;
}

.main-toolbar .main-toolbar-buttons a:first-child {
  border-left: none;
}

.header {
  background: #feeded;
  border-bottom: 1px solid #b04779;
}

.header .headercontent ul li {
  border: 1px solid #cccccc;
}

.header .headercontent ul li:hover {
  border-color: #999999;
  background: white;
}

.header .headercontent a span {
  cursor: pointer;
}

.menu ul li:hover {
  background: #f0d0d0;
  cursor: default;
}

.menu ul li ul {
  border-color: #b04779;
  box-shadow: 0 2px 3px #bbbbbb;
  background: #ffeeee;
}

.menu ul li ul li {
  border-color: #d05789;
}

/* This is only for the rendering of the downward
 * arrow in the menu */
.menu ul li ul li span.menu-section:after,
.menu ul li ul li a.menu-section:after {
  font-size: 80%;
  content: "▼";
  color: #555555;
}

/* Widget styling */
.widget {
  border-color: #b04779;
}

.widget-editbox {
  background: #f9d9d9;
  border-color: #d05789;
}

.widget-selector:hover {
  cursor: pointer;
  background-color: #ff99b3;
}

.widget-header {
  background: #ff99b3;
  border-color: #c05789;
  font-weight: bold;
}

.widget-content-error {
  background: #f9d9d9;
  font-size: 10pt;
}

.widget-placeholder {
  border-color: #b04779;
  background: #dddddd;
}

a.external {
  background: url(../../icons/external_link.gif) right center no-repeat;
  padding-right: 16px;
}

#dojo-quicklink-internal li.selected {
  background-color: #f2f2f2;
  border: 1px solid #999999;
}

#dojo-icon-container td.highlight {
  background: lightblue;
}

.setup-table table tr td {
  border: 0px;
  background-color: transparent;
}

th.headerNone {
  white-space: nowrap;
  text-align: right; }

tr.dark td, tr.odd td.dark {
  border-color: #dcdccd;
  background: #efefef;
}

tr.even td.dark {
  border-color: #dcdccd;
  background: #efefef;
  border-left-color: gainsboro;
}

tr.none td {
  border: 0px;
  background: white;
}

table.white-table tr.no-result td {
  background: white;
  font-style: italic;
}

.comments .author {
  font-style: italic;
}

