.state_summary-state {
	display: inline-block;
	text-align: center;
	margin: 4px 0;
}

.state_summary-container {
	text-align: center;
}

.state_summary-state .state_summary-figure {
	display: inline-block;
	font-size: 55px;
	height: 50px;
	margin: 0px 20px 20px 20px;
	min-width: 75px;
}

.state_summary-state {
	font-weight: bold;
}

.state_summary-container {
  padding: 16px;
}

.state_summary-container a {
  display: inline-block;
  border: none;
  border-radius: 2px;
}

.state_summary-container a:hover {
  background: #eee;
}

.state_summary-state .state_summary-description {
	border-top: 3px solid transparent;
	display: inline-block;
	min-width: 77px;
	text-transform: uppercase;
	padding: 8px 4px 4px;
}

.state_summary-green {
	color: #8bd668;
}

.state_summary-gray {
	color: #959595;
}

.state_summary-red {
	color: #f36061;
}

.state_summary-yellow {
	color: #fad546;
}

.state_summary-orange {
	color: #f7a247;
}

.state_summary-no-display {
	display: none;
}

.state_summary-green .state_summary-description {
	border-top-color: #8bd668;
}

.state_summary-gray .state_summary-description {
	border-top-color: #959595;
}

.state_summary-red .state_summary-description {
	border-top-color: #f36061;
}

.state_summary-yellow .state_summary-description {
	border-top-color: #fad546;
}

.state_summary-orange .state_summary-description {
	border-top-color: #f7a247;
}
