.state_summary-state {
	display: inline-block;
	text-align: center;
	margin: 4px 0;
}

.state_summary-container {
	text-align: center;
  padding: 24px 16px;
}

.state_summary-state .state_summary-figure {
	display: inline-block;
	font-size: 55px;
  line-height: 55px;
	margin: 0px 16px 8px 16px;
	min-width: 75px;
}

.state_summary-state {
	font-weight: bold;
}

.state_summary-container a {
  display: inline-block;
  border: none;
  border-radius: 2px;
}

.state_summary-container a:hover {
  background: #eee;
}

.state_summary-state .state_summary-description {
	border-top-width: 3px;
  border-top-style: solid;
	display: inline-block;
	min-width: 77px;
	text-transform: uppercase;
	padding: 8px 4px 4px;
}

.state_summary-no-display {
  display: none;
}
