// General CSS settings

$fonts: "Century Gothic", helvetica, arial, tahoma, sans-serif
$header_height: 48px

// Preferably hex or RGB colors, don't use RGBA, not all browsers have support 

$font_color: #3a3a3a										// General font color, may be overridden in sub-selectors
$link_color: #444										// General link color, may be overridden in sub-selectors
$link_color_hover: #333							// General link hover color, may be overridden in sub-selectors

$general_background_color: #fdfdfd	// The background color shown under content
$general_min_width: 620px 					// Should be kept somewhere between 600 - 768

$border-color-dark: #999
$border-color-light: #ccc

$table-odd-color: #eee
$table-even-color: #f5f5f5

$weak-shadow-color: #bbb
$hard-shadow-color: #888

$gradient-dark-hi: #fafbf9
$gradient-dark-lo: #e3e4e2

$gradient-medium-hi: #fff
$gradient-medium-hi: #fff

$gradient-light-hi: #fff
$gradient-light-lo: #fff

// Auxiliary CSS settings

$inactive_opacity: 0.4