.header
	@include background(linear-gradient(top, $gradient-dark-hi, $gradient-dark-lo))
	@include filter-gradient($gradient-dark-hi, $gradient-dark-lo, vertical)
	box-shadow: 0 0 6px rgba(0,0,0,0.3)
	border-bottom: 1px solid #c6c8c4
	height: $header_height
	min-width: 768px
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 2

	.supermenu

		height: $header_height
		float: left

		ul
			margin: 0
			padding: 0
			width: 100%
			display: block

			li
				margin: 0
				height: 28px
				width: 18px
				padding: 18px 20px 18px 10px
				float: left
				border-right: 1px solid #ccc
				display: block

				&:hover 
					@include background(linear-gradient(top, #fefffd, #dedfdd))
					@include filter-gradient(#fefffd, #dedfdd, vertical)
	
	.headercontent
		float: left
		margin-left: 20px
		margin-top: 6px
		width: 300px
		padding: 6px 0 0px 4px
		font-size: 0.9em
		
		.header-action
			border: none
		
		a 

			span
				margin-top: 6px
				cursor: pointer
				border-right: 1px solid $border-color-light
				padding-right: 6px
				background-repeat: no-repeat
				overflow: auto