
#content.content {
	padding: 16px 2px 0 2px;
}

#filter-query-builder-graphical, #filter-query-builder-manual {
	background: #f5f5f5;
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1);
	position: absolute;
	top: 100px;
	display: none;
	width: 80%;
	right: 2%;
	border: 1px solid #bbb;
	padding: 8px;
}

#filter_visual_result {
	margin: 4px 8px;
}

#filter_visual_result strong {
	display: inline-block;
	width: 100px;
}

#filter_visual {
	border-radius: 6px;
	padding: 6px;
	font-size: 9pt;
	text-align: center;
}

#lsfilter-query-object {
	width: 200px;
}

.lsfilter-comp {
	position: relative;
	width: 240px;
}

.lsfilter-comp select, .lsfilter-comp input {
	width: 90px;
	margin: 0 4px 0 0;
	display: inline-block;
}

.lsfilter-comp input {
	width: 80px;
}

.lsfilter-or-text {
	margin: 0 8px;
	vertical-align: middle;
	display: inline-block;
}

.lsfilter-and {
	display: block !important;
	border-radius: 4px;
	overflow: auto;
	margin: 2px 4px;
	text-align: center;
}

.lsfilter-operator-select {
	width: 42px !important;
}

.lsfilter-and-expr {
	margin: 3px 0;
}

.lsfilter-or {
	position: relative;
	border-radius: 4px;
	display: inline-block;
	border-radius: 4px;
}

.lsfilter-peak-true, 
.lsfilter-peak-false {
	
}.lsfilter-peak-true {
	
}.lsfilter-peak-false {
	
}

.lsfilter-leaf {
	display: inline-block;
	vertical-align: middle;
}

.lsfilter-gui-or {
	position: absolute;
	right: 16px;
	top: 40%;
}

.lsfilter-gui-and {
	clear: both;
	position: absolute;
	bottom: 0px;
	left: 40%;
}

.lsfilter-gui-or:hover, .lsfilter-gui-and:hover {
	font-weight: bold;
	border-color: #999;
	cursor: pointer;
}