
#content.content { padding: 20px 2px 0 2px; } /* FIX AGAINST GENERAL CONTENT PADDING */
#lsfilter_save_filter_name { margin-bottom: 0; } /* FIX AGAINST REPORT CSS */

#filter-query-builder {
	
	display: none;

	box-shadow: 0 2px 2px 3px #ddd;
	box-shadow: 0 2px 2px 3px rgba(0,0,0,0.1);
	
	background: #f5f5f5;
	border: 1px solid #999;
	position: fixed;
	
	top: 76px;		/* topbar + extra toolbar height */
	right: 0; 		/* Attach to right corner */

	width: 75%;
	z-index: 1;
}

#filter-query-builder-graphical, #filter-query-builder-manual, #filter-query-saved {
	max-height: 500px;
	overflow: auto;
	display: none;
	padding: 8px;
}

#filter-query-saved-filters, #filter-query-saved-preview {
	vertical-align: top;
	display: inline-block;
	height: 96px;
	width: 45%;
	overflow: auto;
	padding: 4px;
	border: 1px solid #bbb;
	background: #fff;
}

#filter-query-saved-filters li span {}

#lsfilter_save_filter.saving {
	background: url('loading_small.gif') no-repeat;
	background-position: left center;
	padding-left: 22px !important;
}

#filter-query-saved-filters li a {
	vertical-align: 50%;
}

.lsfilter-noresult {
	display: inline-block;
	margin: 16px 16px;
}

.lsfilter-loader {
	background: url('loading_small.gif') no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 32px;
	padding-left: 22px;
	height: 16px;
} .lsfilter-loader span {
	vertical-align: middle;
}

.lsfilter-edit-bar {
	margin-right: 20px !important;
} .lsfilter-edit-bar button {
	background: transparent;
} .lsfilter-edit-bar button:hover {
	cursor: pointer;
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
}

#filter_visual_result {
	vertical-align: middle;
	display: inline-block;
} #filter_visual_result strong {
	display: inline-block;
	width: 40px;
} #filter_visual {
	border-radius: 6px;
	padding: 6px;
	font-size: 9pt;
	text-align: center;
} #lsfilter-query-object {
	width: 200px;
}

.lsfilter-comp {
	display: inline-block;
	position: relative;
	width: 240px;
} .lsfilter-comp select, .lsfilter-comp input {
	width: 90px;
	margin: 0 4px 0 0;
	display: inline-block;
} .lsfilter-comp input {
	width: 80px;
}

.lsfilter-or-text {
	margin: 0 8px;
	vertical-align: middle;
	display: inline-block;
}

.lsfilter-operator-select {
	width: 42px !important;
}

.lsfilter-and {
	display: inline-block;
	border-radius: 4px;
	background: #e9e9e9;
	background: rgba(0,0,0,0.06);
	padding: 2px;
	overflow: auto;
	margin: 2px 4px;
	text-align: center;
} .lsfilter-and-expr {
	margin: 2px;
}

.lsfilter-or {
	position: relative;
	border-radius: 4px;
	display: inline-block;
	background: #e9e9e9;
	background: rgba(255,255,255,0.4);
} .lsfilter-or-expr {
	margin: 2px;
	display: inline-block;
	vertical-align: middle;
}

/* START @FIXME!!! */

	.lsfilter-root .lsfilter-comp .lsfilter-add-or, .lsfilter-root .lsfilter-comp .lsfilter-add-and {
		display: inline-block;
	}

	.lsfilter-and .lsfilter-comp .lsfilter-add-and {
		display: none !important;
	}

	.lsfilter-or .lsfilter-comp .lsfilter-add-or {
		display: none !important;
	}

	.lsfilter-add-and, .lsfilter-add-or {
		border-radius: 2px 0 0 2px;
		width: 50%;
	}

	.lsfilter-add-or {
		border-radius: 0 2px 2px 0;
	}

	.lsfilter-add-or:hover, .lsfilter-add-and:hover {
		border-color: #aaa;
		cursor: pointer;
	}

/* END @FIXME!!! */

#filter_result tbody tr:hover {
	background: #fdfdfd;
	color: #222;
}

#filter_result tbody tr:hover > td {
	border-color: #999;
	border-bottom: none;
	border-top: none;
}



#filter_result tbody tr:hover > td, #filter_result tbody tr:hover > td a {
	color: #222;
}

.listview-col-hover {
	background: #fdfdfd;
	border-color: #999;
	color: #222;
}

th span.header-icon {
	display: block;
	margin: 0 auto;
}

#filter_result thead th {
	
	border-top: none;
	border-bottom: 1px solid #aaa;

	padding-bottom: 0;
	padding-right: 0;
	
}

.lsfilter-sort-span {
	
	border-left: 1px solid #ccc;
	box-shadow: inset 0 2px 4px 0 #fff;

	text-align: center;
	cursor: pointer;
	float: right;
	
	margin-top: -6px;
	font-size: 11pt;
	height: 20px;
	width: 18px;
	color: #666;

}

.extra_toolbar {
	
	top: 48px;
	left: 0;

	box-shadow: 0 0 2px 2px #ddd;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
	
	border-bottom: 1px solid #999;
	padding: 0 2px 4px 2px;
	position: fixed;
	height: 24px;
	width: 100%;
	
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafbf9),
		color-stop(100%, #e3e4e2) );
	background: -webkit-linear-gradient(top, #fafbf9, #e3e4e2);
	background: -moz-linear-gradient(top, #fafbf9, #e3e4e2);
	background: -o-linear-gradient(top, #fafbf9, #e3e4e2);
	background: linear-gradient(top, #fafbf9, #e3e4e2);
	
	z-index: 1;
	overflow: hidden;

}

.extra_toolbar ul li {
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	height: 24px;
	float: left;
	padding: 2px 0.5em;
	line-height: 24px;
}

.extra_toolbar ul li * {
	vertical-align: middle;
}

.extra_toolbar_category {
	padding-left: 16px !important;
}

.extra_toolbar_spacer {
	height: 11px;
}

#filter_result {
	margin: -2px -2px 0 -2px;
}

.floating-header {
	
	box-shadow: 0 1px 2px 2px rgba(0,0,0,0.1);

	left: 0px;
	top: 77px;

	position: fixed;
	z-index: 0;

}

.floating-header tr {
	width: 100%;
	display: block;
}