.status  {
	background: #f5f5ef url(../images/bg/table/bg.gif) repeat-x;
	padding: 5px;
}

.ok,
.icon {
	width: 16px;
	padding: 5px 7px;
	text-align: center;
}

td.icon a {
	border: 0px;
}

.white {
	background: #ffffff;
}

.w80 { width: 80px }

#content a {
	text-decoration: none;
	border-bottom: 1px dotted #777777;
}

th a {
	border-bottom: 0px;
}

img { border-bottom: 0px; }

a > img {
	border: 0px;
}

#status_count_summary {
	margin-top: 7px;
	font-style: italic;
	margin-left: 5px;
}

tr.even td {
	background: #f3f2ef;
}

tr.even td.status {
	/*background: #f5f5ef url(../images/bg/light.gif) repeat-x;*/
}

tr:hover td {
	background: #f5f5ef url(../images/bg/table/bg.gif) repeat-x;
}

th.header {
	background: #f5f5ef url(../images/icons/arrows/sort-none.png) no-repeat center left;
	cursor: pointer;
	font-weight: bold;
}

th.headerSortDown {
	background: #cdcdbc url(../images/icons/arrows/sort-down.png) center right no-repeat;
	color: #ffffff;
}

th.headerSortDown:first-child {
	background: #cdcdbc url(../images/icons/arrows/sort-down.png) 11px center no-repeat;
	color: #ffffff;
}

th.headerSortUp {
	background: #cdcdbc url(../images/icons/arrows/sort-up.png) center right no-repeat;
	color: #ffffff;
}

th.headerSortUp:first-child {
	background: #cdcdbc url(../images/icons/arrows/sort-up.png) 11px center no-repeat;
	color: #ffffff;
}