.status  {
	background: #f5f5ef url(../images/bg/table/bg.gif) repeat-x;
	padding: 5px;
}

.ok,
.icon {
	width: 16px;
	padding: 5px 7px;
	text-align: center;
}

td.icon a {
	border: 0px;
}

.white {
	background: #ffffff;
}

.w80 { width: 80px }

#content a {
	text-decoration: none;
	border-bottom: 1px dotted #777777;
}

th a {
	border-bottom: 0px;
}

img { border-bottom: 0px; }

a > img {
	border: 0px;
}

#status_count_summary {
	margin-top: 7px;
	font-style: italic;
	margin-left: 5px;
}

tr.even td {
	background: #f3f2ef;
}

tr.even td.status {
	/*background: #f5f5ef url(../images/bg/light.gif) repeat-x;*/
}

tr:hover td {
	background: #f5f5ef url(../images/bg/table/bg.gif) repeat-x;
}

th.header {
  background: url('../images/bg/table/header-selected.png') repeat-x;
  cursor: pointer;
  /*font-weight: bold;
  border-right: 1px solid #dad9c7;
  margin-left: -1px; */
}

th.headerSortUp {
  background: #aaaaaa url('../images/icons/arrows/sort-down.png') no-repeat center right;
	color: #ffffff;
}

th.headerSortDown {
  background: url('/logserver/images/icons/sort-desc.png') no-repeat 2px 11px;
}