.status  {
	background: #f5f5ef url(../images/bg/table/bg.gif) repeat-x;
	padding: 5px;
	height: 16px;
}

.ok,
.icon {
	width: 16px;
	padding: 7px;
	text-align: center;
	vertical-align: middle;
	height: 21px;
}

.icon img {
	display: block;
}

#widget-status_totals .icon,
#widget-host_totals .icon {
	width: 11px;
}


tr.odd td.bl,
tr.even td.bl { border-left: 1px solid #dcdccd; }

tr.odd td.bt,
tr.even td.bt { border-top: 1px solid #dcdccd; }

tr.odd td.bt img,
tr.even td.bt img { float: left }

td.icon a {
	border: 0px;
}

th.white,
tr.even td.white,
tr.odd td.white {
	background: #ffffff;
	border: 1px solid #ffffff;
	padding: 0px;
}

tr.even td.w80,
tr.odd td.w80 { width: 80px; border-right: 0px; border-top: 1px solid #dcdcbc }

#content a {
	text-decoration: none;
	border-bottom: 1px dotted #777777;
}

th a {
	border-bottom: 0px;
}

img { border-bottom: 0px; }

a > img {
	border: 0px;
}

#status_count_summary {
	margin-top: 7px;
	font-style: italic;
	margin-left: 5px;
}

tr.even td {
	border: 1px solid #dcdccd;
	border-left: 0px;
	border-top: 0px;
	background: #fdfdfd;
	padding-top: 2px;
	padding-bottom: 2px;
}

tr.odd td {
	border: 1px solid #dcdccd;
	border-left: 0px;
	background: #f8f8f3;
	border-top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

tr.even td.status {
	background: #f5f5ef url(../images/bg/table/bg.gif) repeat-x;
}


td.white table tr td {
	border: 1px solid #e9e9e0;
	border-left: 0px;
	border-top: 0px;
}

td.white:first-child table tr td:first-child {
	border-left: 1px solid #e9e9e0;
}
/* widget thihngys  *******************************************************************************/

#widget-tac_hosts table tr th,
#widget-tac_services table tr th,
#widget-tac_monfeat table tr th {
	border: 1px solid #e9e9e0;
	border-left: 0px;
	border-top: 0px;
}

#widget-tac_hosts table tr th:first-child,
#widget-tac_services table tr th:first-child,
#widget-tac_monfeat table tr th:first-child {
	border-left: 1px solid #e9e9e0;
}

/* table sorter styles ****************************************************************************/

.group_grid_table tr:hover td,
.group_overview_table tr:hover td,
.comments_table tr:hover td,
#group_summary_table tr:hover td,
#service_table tr:hover td,
#host_table tr:hover td {
	background: #f5f5ef;
}

.group_grid_table th.header,
.group_overview_table th.header,
.comments_table th.header,
#group_summary_table th.header,
#service_table th.header,
#host_table th.header,
th.header {
	background: #ffffff url(../images/bg/table/sort-none.png) top right;
	cursor: pointer;
	border-bottom: 1px solid #dcdccd;
	border-right: 1px solid #dcdccd;
	border-top: 1px solid #dcdccd;
	padding-top: 14px;
}

.group_grid_table th.header:first-child,
.group_overview_table th.header:first-child,
.comments_table th.header:first-child,
#group_summary_table th.header:first-child,
#service_table th.header:first-child,
#host_table th.header:first-child,
th.header:first-child {
	background: #ffffff url(../images/bg/table/sort-none.png) top right;
	cursor: pointer;
	border-left: 1px solid #dcdccd;
}

.group_grid_table th,
.group_overview_table th,
.comments_table th,
#group_summary_table th,
#service_table th,
#host_table th,
#host_table th.no-sort {
	background:#f5f5ef;
	cursor: default;
	border-bottom: 1px solid #dcdccd;
	border-right: 1px solid #dcdccd;
	border-top: 1px solid #dcdccd;
	padding-top: 14px;
	background: #ffffff url(../images/bg/table/sort.png) top right;
}

.group_grid_table th:first-child,
.group_overview_table th:first-child,
.comments_table th:first-child,
#group_summary_table th:first-child,
#service_table th:first-child,
#host_table th:first-child,
#host_table th.no-sort:first-child {
	border-left: 1px solid #dcdccd;
}

.group_grid_table th.headerSortDown,
.group_overview_table th.headerSortDown,
.comments_table th.headerSortDown,
#group_summary_table th.headerSortDown,
#service_table th.headerSortDown,
#host_table th.headerSortDown, 
th.headerSortDown {
	background: #ffffff url(../images/bg/table/sort-down.png) top right;
}

.group_grid_table th.headerSortDown:first-child,
.group_overview_table th.headerSortDown:first-child,
.comments_table th.headerSortDown:first-child,
#group_summary_table th.headerSortDown:first-child,
#service_table th.headerSortDown:first-child,
#host_table th.headerSortDown:first-child,
th.headerSortDown:first-child {
	background: #ffffff url(../images/bg/table/sort-down.png) top right;
	border-left: 1px solid #dcdccd;
}

.group_grid_table th.headerSortUp,
.group_overview_table th.headerSortUp,
.comments_table th.headerSortUp,
#group_summary_table th.headerSortUp,
#service_table th.headerSortUp,
#host_table th.headerSortUp,
th.headerSortUp {
	background: #ffffff url(../images/bg/table/sort-up.png) top right;
}

.group_grid_table th.headerSortUp:first-child,
.group_overview_table th.headerSortUp:first-child,
.comments_table th.headerSortUp:first-child,
#group_summary_table th.headerSortUp:first-child,
#service_table th.headerSortUp:first-child,
#host_table th.headerSortUp:first-child,
th.headerSortUp:first-child {
	background: #ffffff url(../images/bg/table/sort-up.png) top right;
	border-left: 1px solid #dcdccd;
}