@import "../../base-sass/common"

$font_color: #332a2a
$link_color: #655
$link_color_hover: #433
$general_background_color: #f9d9d9
$border-color-dark: #b04779
$border-color-light: #d05789
$gradient-dark-hi: #FFCCD9
$gradient-dark-lo: #FF99B3


.logo-image
	background: url('../../icons/icon.png') no-repeat