
#host_table tr:hover,
#service_table tr:hover,
.host_table tr:hover,
.service_table tr:hover {
  outline: 1px solid #777777;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #777777;
}

input[type="submit"].plain {
  background: transparent;
  border-width: 0 0 1px;
  border-radius: 0;
}

.enabled_monfeat, .disabled_monfeat {
  font-size: 95%;
}

.enabled_monfeat cite, .disabled_monfeat cite {
  font-weight: bold;
}

.enabled_monfeat em, .disabled_monfeat em {
  border-bottom: 1px dotted #555555;
}

.enabled_monfeat em:hover, .disabled_monfeat em:hover {
  color: black;
}

.notification-bar a,
.license-bar a,
.print-notification-bar a {
  color: #4e3e18;
  border-bottom: none !important;
  text-decoration: underline !important;
}

.notification-bar a:hover,
.license-bar a:hover,
.print-notification-bar a:hover {
  color: #3e2e10;
}

.license-bar,
.print-notification-bar {
  background: #f0a000;
  text-shadow: 0 0 1px #703000;
  color: white;
}

.license-bar a,
.print-notification-bar a {
  color: white;
}

.license-bar a:hover,
.print-notification-bar a:hover {
  color: white;
}

.page-flow-layout {
  padding: 16px;
}

.page-flow-layout h2 {
  margin-top: 16px;
}

.configuration-page-link a {
  border: none;
  border-radius: 3px;
}

.configuration-page-link a:hover {
  background-color: #f1f0ed;
}

.configuration-page-description {
  font-style: italic;
  color: #777777;
}

.main-toolbar .main-toolbar-subtitle {
  font-size: 120%;
}

span.brand-label {
  font-size: 13pt;
  font-weight: 400;
}

a.external {
  background: url(../../icons/external_link.gif) right center no-repeat;
  padding-right: 16px;
}

.widget-selector:hover {
  background-color: #eeecea;
}

#dojo-icon-container td.highlight {
  background: lightblue;
  border-radius: 4px;
}

#dojo-icon-container td span {
  cursor: pointer;
}

#response {
  margin-left: 0px;
  padding-top: 0px;
  background: #f9f9f5 url(images/bg.png) repeat-x;
}

#response h1 {
  display: none;
}

#response ul {
  padding: 7px 2px 5px 33px;
  margin: 0px;
  margin-bottom: 7px;
  width: auto;
  background: transparent 10px 8px no-repeat;
}

#response li {
  background: none;
  padding: 2px 0px;
  width: auto;
  list-style: none;
}

#response ul.ok {
  background-image: url(icons/x16/shield-ok.png);
}

#response ul.error {
  background-image: url(icons/x16/shield-error.png);
}

#response ul.warning {
  background-image: url(icons/x16/shield-warning.png);
}

#response ul.info {
  background-image: url(icons/x16/shield-info.png);
}

#response ul.help {
  background-image: url(icons/x16/shield-help.png);
}

tr.even td.cell_svccnt_ok {
  background-color: #e0efc0 !important; }
/* line 223, sass/LSFilterStyle.sass */
tr.odd td.cell_svccnt_ok {
  background-color: #e0efc0 !important; }
/* line 225, sass/LSFilterStyle.sass */
tr.even td.cell_svccnt_warning {
  background-color: #fcf8e3 !important; }
/* line 227, sass/LSFilterStyle.sass */
tr.odd td.cell_svccnt_warning {
  background-color: #fcf8e3 !important; }
/* line 229, sass/LSFilterStyle.sass */
tr.even td.cell_svccnt_critical {
  background-color: #ffd0d0 !important; }
/* line 231, sass/LSFilterStyle.sass */
tr.odd td.cell_svccnt_critical {
  background-color: #ffd0d0 !important; }
/* line 233, sass/LSFilterStyle.sass */
tr.even td.cell_svccnt_unknown {
  background-color: #ffe5d0 !important; }
/* line 235, sass/LSFilterStyle.sass */
tr.odd td.cell_svccnt_unknown {
  background-color: #ffe5d0 !important; }
/* line 237, sass/LSFilterStyle.sass */
tr.even td.cell_svccnt_pending {
  background-color: #dddddd !important; }
/* line 239, sass/LSFilterStyle.sass */
tr.odd td.cell_svccnt_pending {
  background-color: #cccccc !important; }

#display_service_status {
  display: none;
}

#log_entries {
  padding-bottom: 15px;
}

a#optiontoggle {
  margin: 5px;
}

#new_schedule_report_table {
  width: auto;
}

#switcher {
  margin-top: -15px;
}

#save_to_schedule em {
  font-style: italic;
}

.action img {
  margin-left: 5px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.action a {
  border: 0 !important;
}

.log_messages {
  clear: both;
  float: left;
}

.headerNone.left {
  text-align: left;
}


.setup-table table tr td {
  border: 0px;
  background-color: transparent;
}

#new_schedule_report_table tr td {
  background: none;
  vertical-align: top;
  width: auto;
}

tr#pdf-hide td {
  background: transparent;
  text-align: right;
}

th.headerNone {
  white-space: nowrap;
  text-align: right;
}

tr.dark td, tr.odd td.dark {
  border: 1px solid #dcdccd;
  border-left: 0px;
  background: #efefef;
  border-top: 0px;
}

tr.even td.dark {
  border: 1px solid #dcdccd;
  border-left: 0px;
  background: #efefef;
  border-top: 0px;
  border-left: 1px solid gainsboro;
  text-align: left;
}

tr.dark td.data, tr.odd td.data, tr.even td.data {
  text-align: right;
  white-space: nowrap;
}

.summary {
  text-align: right;
}

.summary.tally.nonzero.ok, .summary.tally.nonzero.up {
    background: rgba(167, 214, 144, 0.5);
}

.summary.tally.nonzero.warning, .summary.tally.nonzero.unreachable {
    background: rgba(250, 212, 96, 0.5);
}

.summary.tally.nonzero.critical, .summary.tally.nonzero.down {
    background: rgba(211, 63, 47, 0.5);
}

.summary.tally.nonzero.unknown {
    background: rgba(238, 152, 61, 0.5);
}

.summary.tally.nonzero.undetermined {
    background: #d0d1cf;
}

tr.odd td.data img, tr.even td.data img, tr.dark td.data img {
  margin-bottom: -1px;
}

tr.none td {
  border: 0px;
  background: white;
}

table.setup-tbl tr td {
  padding: 0px 5px 0px 0px;
  border: 0;
  vertical-align: top;
}

table.setup-tbl input, table.setup-tbl select {
  background: #fafafa;
  border: 1px solid #cccccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 1px;
  margin-top: 3px;
  margin-left: 0px;
  margin-bottom: 15px;
}

table.setup-tbl input[type=text], table.setup-tbl select[type=text] {
  width: 378px;
}

#new_schedule_report_table tr td {
  padding: 0px 15px 0px 0px;
}

table.white-table tr.no-result td {
  background: white;
  font-style: italic;
  padding-left: 0px;
}

div.time-picker {
  position: absolute;
  height: 200px;
  width: 9em;
  /* needed for IE */
  overflow: auto;
  background: white;
  border: 1px solid #d0d0d0;
  z-index: 99;
}

div.time-picker-12hours {
  width: 6em;
  /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.time-picker li {
  padding: 1px;
  cursor: pointer;
}

div.time-picker li.selected {
  background: #316ac5;
  color: white;
}

.time_error {
  border: 1px solid red;
  color: red;
}

.ui-widget-content {
  border: 0px;
  background: white;
  color: #222222;
}

.ui-widget-header {
  border: 0px;
  background: #cdcdcd url(images/bg.png) repeat-x;
  border-bottom: 1px solid #cdcdcd;
  color: #222222;
  font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #cdcdcd;
  background: #dddddd url(images/bg.png) repeat-x;
  font-weight: normal;
  color: #555555;
  outline: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus {
  border: 1px solid #cdcdcd;
  background: #aaaaaa url(images/bg.png) repeat-x;
  font-weight: normal;
  color: #212121;
  outline: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 1px solid #cdcdcd;
  background: white;
  font-weight: normal;
  color: #212121;
  outline: none;
}

.ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

input[type=text], input[type=password], select, textarea {
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

select:hover {
  background-color: #eeecea;
}

button, input[type=reset], input[type=submit], input[type=button] {
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-radius: 4px;
}

button:hover, input[type=reset]:hover, input[type=submit]:hover, input[type=button]:hover {
  background-color: #a0a0a0;
}

input[type=checkbox], input[type=radio] {
  border: 0px;
}

.form-dropdown {
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid gainsboro;
}

.output {
  white-space: normal;
  border: 0 !important;
  margin: 0;
  padding: 0;
}

.output tr, .output td {
  white-space: normal;
  border: 0 !important;
  margin: 0;
  padding: 0;
}

.comments {
  text-align: right;
}

.comments .author {
  font-style: italic;
}

.editing-comments {
  min-width: 40%;
}

.host_alerts td {
  width: 25%;
}

/* a report block is a logical unit that contains information */
.report-block {
  width: 100%;
  float: none;
  clear: both;
  padding-top: 2em;
}

.report-block td {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}

#mv_hg_l, #mv_hg_r,
#mv_sg_l, #mv_sg_r,
#mv_s_l, #mv_s_r,
#mv_h_l, #mv_h_r {
  height: auto;
  padding-bottom: 4px;
  margin: 1px 1px;
}

/* Minimum widths of report listview columns */
.min-l {
  min-width: 120px;
}

.min-s {
  min-width: 65px;
}

.min-m {
  min-width: 100px;
}

.logo-image {
  background: url("../../icons/icon.png") no-repeat;
}

.rec-table .label {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 0px;
    width: 250px;
}

.rec-table .sub-heading {
    font-family: Helvetica;     
    font-weight: bold;
    height: 30px;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
}

.rec-table .sub-sub-heading {
   padding-bottom: 15px;
}

.rec-table .obj-type {
  width: 300px;

}
.rec-table .occur {
    width: 200px;
}

.rec-table .occur option {
    background-color: white;
}

table.rec-table input {

}

.rec-table hr {
    height: 0px;
    border: none;
    border-bottom: 1px solid #dddddd;
    margin: 15px 0px;
}

.rec-table .time {
   width: 50px;
}

.rec-table .date {
   width: 90px;
}

.rec-table .num {
  width: 35px;
}

.rec-table .hide {
  display: none;
}

.rec-table .help-text {
  width: 45%;
  text-align: justify;
  padding-bottom: 20px;
  font-family: Helvetica;
  color: #555555;
  font-size: 12px;
  word-break: normal;
}
 
.rec-table .duration-text {
  font-style: italic;
  margin-left: 15px;
}
 

.note { 
  background: #0277BD;
  padding: 15px;
  width: 50%;
  text-align: justify;
  font-family: Helvetica;
  color: white;
  font-size: 12px;
  font-weight: bold;
  word-break: normal;
  border-radius: 5px;
}

.rec-table .repeat-text {
  width: 100px;
}

.rec-table .starttime-quickselect {
  margin: -10px 0px;
  width: 70px;
  height: 80px;
  position: absolute;
  border: thin solid #aaaaaa;
  color: black;
  padding: 5px;
  background: white;
  overflow: auto;
}

.rec-table .endtime-quickselect {
  margin: -10px 170px;
  width: 70px;
  height: 80px;
  position: absolute;
  border: thin solid #aaaaaa;
  color: black;
  padding: 5px;
  background: white;
  overflow: auto;
}

.rec-table .quickselect div {
  padding-bottom: 10px;
  cursor: pointer;
}
