/* line 17, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/header.sass */
.header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmNmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfcfa), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #fbfcfa, #e5e5e5);
  background: -moz-linear-gradient(top, #fbfcfa, #e5e5e5);
  background: -o-linear-gradient(top, #fbfcfa, #e5e5e5);
  background: linear-gradient(top, #fbfcfa, #e5e5e5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #c6c8c4;
  height: 64px;
  min-width: 768px;
  position: fixed;
  font-size: 70%;
  width: 100%;
  z-index: 2; }
  /* line 12, ../sass/header.sass */
  .header .supermenu {
    height: 64px;
    float: left; }
    /* line 17, ../sass/header.sass */
    .header .supermenu ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: block; }
      /* line 23, ../sass/header.sass */
      .header .supermenu ul li {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmFmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWJlOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9faf8), color-stop(100%, #eaebe9));
        background: -webkit-linear-gradient(top, #f9faf8, #eaebe9);
        background: -moz-linear-gradient(top, #f9faf8, #eaebe9);
        background: -o-linear-gradient(top, #f9faf8, #eaebe9);
        background: linear-gradient(top, #f9faf8, #eaebe9);
        margin: 0;
        height: 28px;
        width: 18px;
        padding: 18px 18px;
        float: left;
        border-right: 1px solid #cccccc;
        display: block; }
        /* line 33, ../sass/header.sass */
        .header .supermenu ul li:hover {
          background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlZGZkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefffd), color-stop(100%, #dedfdd));
          background: -webkit-linear-gradient(top, #fefffd, #dedfdd);
          background: -moz-linear-gradient(top, #fefffd, #dedfdd);
          background: -o-linear-gradient(top, #fefffd, #dedfdd);
          background: linear-gradient(top, #fefffd, #dedfdd); }
  /* line 36, ../sass/header.sass */
  .header .headercontent {
    float: left;
    margin-left: 20px;
    width: 300px;
    padding: 8px 4px; }
    /* line 42, ../sass/header.sass */
    .header .headercontent .header-search {
      width: 120px;
      margin: 3px 2px 2px 2px; }
    /* line 46, ../sass/header.sass */
    .header .headercontent ul {
      margin: 0;
      padding: 0; }
      /* line 50, ../sass/header.sass */
      .header .headercontent ul li {
        margin: 0;
        padding: 4px 6px 0 0;
        display: block;
        float: left; }
      /* line 56, ../sass/header.sass */
      .header .headercontent ul .list-separator {
        background: url("./images/menu-arrow.png") no-repeat;
        background-size: contain;
        width: 10px;
        height: 20px;
        float: left; }
  /* line 63, ../sass/header.sass */
  .header .header-action {
    margin: 0;
    border: none;
    padding: 2px 4px; }

/* line 4, ../sass/nav.sass */
.navigation, .navigation-collapsed, .navigation-collapsed-double {
  position: fixed;
  width: 200px;
  top: 64px;
  overflow: hidden;
  overflow-y: auto;
  height: 85%;
  z-index: 1;
  font-size: 72%;
  text-shadow: 1px 1px 1px white;
  background: url("./images/stripe.png"); }
  /* line 17, ../sass/nav.sass */
  .navigation a, .navigation-collapsed a, .navigation-collapsed-double a {
    border-bottom: 1px dotted #888888;
    color: #888888;
    text-decoration: none; }
    /* line 22, ../sass/nav.sass */
    .navigation a:hover, .navigation-collapsed a:hover, .navigation-collapsed-double a:hover {
      border-bottom: 1px dotted #555555;
      color: #555555; }
  /* line 26, ../sass/nav.sass */
  .navigation .active, .navigation-collapsed .active, .navigation-collapsed-double .active {
    color: #555555;
    font-weight: bold;
    font-size: 99%; }
  /* line 31, ../sass/nav.sass */
  .navigation .menu, .navigation-collapsed .menu, .navigation-collapsed-double .menu {
    position: relative;
    width: 100%;
    margin-bottom: 20px; }
  /* line 36, ../sass/nav.sass */
  .navigation .slider, .navigation-collapsed .slider, .navigation-collapsed-double .slider {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWZlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjlmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeefec), color-stop(100%, #f8f9f7));
    background: -webkit-linear-gradient(left, #eeefec, #f8f9f7);
    background: -moz-linear-gradient(left, #eeefec, #f8f9f7);
    background: -o-linear-gradient(left, #eeefec, #f8f9f7);
    background: linear-gradient(left, #eeefec, #f8f9f7);
    box-shadow: 0 0 4px rgba(60, 50, 30, 0.4);
    border-left: 1px solid #b6b8b4;
    border-right: 1px solid #d6d8d4;
    position: absolute;
    right: 0px;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: pointer; }
    /* line 48, ../sass/nav.sass */
    .navigation .slider .slide-button, .navigation-collapsed .slider .slide-button, .navigation-collapsed-double .slider .slide-button {
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWNlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjNmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ebecea), color-stop(100%, #f2f3f1));
      background: -webkit-linear-gradient(left, #ebecea, #f2f3f1);
      background: -moz-linear-gradient(left, #ebecea, #f2f3f1);
      background: -o-linear-gradient(left, #ebecea, #f2f3f1);
      background: linear-gradient(left, #ebecea, #f2f3f1);
      position: absolute;
      top: 40%;
      z-index: 1;
      right: 0;
      height: 14px;
      padding: 12px 0;
      width: 10px;
      color: #bbbbbb;
      text-align: center;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5; }
      /* line 62, ../sass/nav.sass */
      .navigation .slider .slide-button:hover, .navigation-collapsed .slider .slide-button:hover, .navigation-collapsed-double .slider .slide-button:hover {
        color: #666666; }
  /* line 65, ../sass/nav.sass */
  .navigation ul, .navigation-collapsed ul, .navigation-collapsed-double ul {
    padding: 0;
    margin: 0;
    display: none;
    overflow: auto;
    overflow-x: hidden;
    height: auto; }
    /* line 73, ../sass/nav.sass */
    .navigation ul li, .navigation-collapsed ul li, .navigation-collapsed-double ul li {
      padding: 6px 0 6px 10%;
      margin: 0;
      height: 16px;
      border-bottom: 1px solid #cccccc;
      float: left;
      display: block;
      width: 100%;
      border-top: 1px solid #f2f2f2;
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjhmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0ZTVlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f8f6), color-stop(100%, #e4e5e3));
      background: -webkit-linear-gradient(top, #f7f8f6, #e4e5e3);
      background: -moz-linear-gradient(top, #f7f8f6, #e4e5e3);
      background: -o-linear-gradient(top, #f7f8f6, #e4e5e3);
      background: linear-gradient(top, #f7f8f6, #e4e5e3); }
      /* line 84, ../sass/nav.sass */
      .navigation ul li:hover, .navigation-collapsed ul li:hover, .navigation-collapsed-double ul li:hover {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmRmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWZlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfdfb), color-stop(100%, #eeefed));
        background: -webkit-linear-gradient(top, #fcfdfb, #eeefed);
        background: -moz-linear-gradient(top, #fcfdfb, #eeefed);
        background: -o-linear-gradient(top, #fcfdfb, #eeefed);
        background: linear-gradient(top, #fcfdfb, #eeefed); }
      /* line 87, ../sass/nav.sass */
      .navigation ul li img, .navigation-collapsed ul li img, .navigation-collapsed-double ul li img {
        vertical-align: -30%;
        margin-right: 6px; }

/* line 91, ../sass/nav.sass */
.navigation-collapsed {
  overflow: hidden;
  min-width: 0;
  width: 46px; }
  /* line 98, ../sass/nav.sass */
  .navigation-collapsed .menu {
    width: 36px; }
  /* line 100, ../sass/nav.sass */
  .navigation-collapsed li {
    padding: 6px 10px 6px 10px !important;
    width: 26px !important; }
  /* line 103, ../sass/nav.sass */
  .navigation-collapsed span {
    display: none; }

/* line 106, ../sass/nav.sass */
.navigation-collapsed-double {
  width: 82px;
  min-width: 0; }
  /* line 112, ../sass/nav.sass */
  .navigation-collapsed-double .menu {
    width: 72px; }
  /* line 114, ../sass/nav.sass */
  .navigation-collapsed-double .nav-seg {
    padding: 6px 10px 6px 10px !important;
    width: 15px !important;
    outline: 1px solid #cccccc; }
  /* line 118, ../sass/nav.sass */
  .navigation-collapsed-double .slide-button {
    width: 10px !important;
    border-radius: 0 0 0 0 !important; }
  /* line 121, ../sass/nav.sass */
  .navigation-collapsed-double span {
    display: none; }

/* line 124, ../sass/nav.sass */
.menu .list-separator {
  border: none !important;
  background: black !important;
  float: none !important;
  clear: both !important;
  opacity: 0.2;
  padding: 0px !important;
  height: 3px !important; }

/* line 2, ../sass/widget.sass */
.widget {
  width: 100%;
  height: auto;
  margin: 8px 0;
  border: 1px solid #cccccc;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 6px #dddddd; }

/* line 10, ../sass/widget.sass */
.widget-header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmFmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWZlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9faf8), color-stop(100%, #eeefed));
  background: -webkit-linear-gradient(top, #f9faf8, #eeefed);
  background: -moz-linear-gradient(top, #f9faf8, #eeefed);
  background: -o-linear-gradient(top, #f9faf8, #eeefed);
  background: linear-gradient(top, #f9faf8, #eeefed);
  padding: 6px 0 2px 6px;
  border-bottom: 1px solid #dddddd; }
  /* line 15, ../sass/widget.sass */
  .widget-header span {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
    float: left;
    max-width: 50%;
    font-size: 80%; }
  /* line 21, ../sass/widget.sass */
  .widget-header .widget-editbox {
    float: right;
    padding-right: 3px;
    max-width: 40%;
    display: none; }
    /* line 28, ../sass/widget.sass */
    .widget-header .widget-editbox img {
      opacity: 0.4;
      filter: alpha(opacity=40); }
      /* line 31, ../sass/widget.sass */
      .widget-header .widget-editbox img:hover {
        opacity: 1;
        filter: alpha(opacity=100); }

/* line 37, ../sass/widget.sass */
.widget-content-error {
  background: url("./images/stripe.png");
  box-shadow: inset 0 0 8px #888888;
  padding: 24px 4px;
  text-align: center;
  text-shadow: 0 0 6px black;
  color: #f9f9f9;
  font-size: 80%; }

/* line 47, ../sass/widget.sass */
.widget-placeholder, #widget-placeholder, #widget-placeholder1, #widget-placeholder2, #widget-placeholder3 {
  width: 31%;
  margin: 0 1.1%;
  float: left; }

/* line 52, ../sass/widget.sass */
#widget-placeholder3 {
  width: 100%; }

/* line 55, ../sass/widget.sass */
.nullify, .widget-content table, .widget-content table tbody, .widget-content table tr, .widget-content table tr td, #filter_table, #filter_table tbody, #filter_table tr, #filter_table tr td {
  background: #f9f9f9;
  vertical-align: top;
  outline: none;
  border: none;
  margin: 0;
  padding: 0; }

/* line 63, ../sass/widget.sass */
.widget-content {
  font-size: 70%; }
  /* line 66, ../sass/widget.sass */
  .widget-content table {
    border-spacing: 0;
    width: 100%;
    border-radius: 0 0 6px 6px;
    background: #f9f9f9; }
    /* line 73, ../sass/widget.sass */
    .widget-content table .white {
      padding: 0 !important; }
    /* line 82, ../sass/widget.sass */
    .widget-content table tr th {
      font-size: 110%;
      border-bottom: 1px solid #cccccc;
      padding: 4px 0 2px 0;
      text-align: center; }
    /* line 88, ../sass/widget.sass */
    .widget-content table tr td {
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #f0f0f0;
      padding: 2px 4px;
      border-radius: 0 0 6px 6px;
      font-size: 100%; }
      /* line 96, ../sass/widget.sass */
      .widget-content table tr td td {
        vertical-align: middle; }
    /* line 99, ../sass/widget.sass */
    .widget-content table tr .dark {
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmFmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZTllNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9faf8), color-stop(100%, #e8e9e7));
      background: -webkit-linear-gradient(top, #f9faf8, #e8e9e7);
      background: -moz-linear-gradient(top, #f9faf8, #e8e9e7);
      background: -o-linear-gradient(top, #f9faf8, #e8e9e7);
      background: linear-gradient(top, #f9faf8, #e8e9e7);
      border-radius: 0 0 0 6px;
      border-right: 1px solid #dddddd;
      width: 40px;
      padding: 5.5px 0;
      text-align: center; }

/* line 109, ../sass/widget.sass */
#content-header .widget {
  background: transparent;
  border: none;
  box-shadow: none; }
/* line 116, ../sass/widget.sass */
#content-header .health td {
  padding: 0 !important; }
  /* line 119, ../sass/widget.sass */
  #content-header .health td div {
    text-align: center; }

/* line 1, ../sass/filter.sass */
#filter_table {
  background: #f9f9f9;
  border-spacing: 0;
  width: 100% !important;
  border-radius: 0 0 6px 6px;
  font-size: 80%; }
  /* line 10, ../sass/filter.sass */
  #filter_table .white {
    padding: 0 !important; }
  /* line 19, ../sass/filter.sass */
  #filter_table tr th {
    border-bottom: 1px solid #cccccc;
    padding: 4px 0 2px 0;
    text-align: center; }
  /* line 25, ../sass/filter.sass */
  #filter_table tr td {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #f0f0f0;
    padding: 2px 4px;
    border-radius: 0 0 6px 6px;
    font-size: 80%; }
    /* line 33, ../sass/filter.sass */
    #filter_table tr td td {
      vertical-align: middle; }
  /* line 36, ../sass/filter.sass */
  #filter_table tr .dark {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmFmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZTllNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9faf8), color-stop(100%, #e8e9e7));
    background: -webkit-linear-gradient(top, #f9faf8, #e8e9e7);
    background: -moz-linear-gradient(top, #f9faf8, #e8e9e7);
    background: -o-linear-gradient(top, #f9faf8, #e8e9e7);
    background: linear-gradient(top, #f9faf8, #e8e9e7);
    border-radius: 0 0 0 6px;
    border-right: 1px solid #dddddd;
    padding: 5.5px 0;
    text-align: center; }

/* line 28, ../sass/screen.sass */
html {
  height: 100%; }

/* line 31, ../sass/screen.sass */
body {
  margin: 0;
  padding: 0;
  font: normal normal 100% "Century Gothic", helvetica, arial, tahoma, sans-serif;
  color: #666666;
  height: 100%;
  background: #f9f9f9; }

/* line 39, ../sass/screen.sass */
form {
  width: 100%;
  display: block; }

/* line 43, ../sass/screen.sass */
table {
  font-size: 90%;
  margin: 0 0;
  width: 100%; }
  /* line 48, ../sass/screen.sass */
  table caption {
    padding: 8px;
    font-size: 90%; }
  /* line 52, ../sass/screen.sass */
  table tbody {
    border-top: 1px solid #dddddd; }
  /* line 55, ../sass/screen.sass */
  table th {
    font-size: 90%;
    padding: 2px; }
  /* line 59, ../sass/screen.sass */
  table .header {
    background: none;
    box-shadow: none;
    border: none;
    height: auto;
    min-width: 0;
    position: relative;
    font-size: 90%;
    width: auto;
    z-index: 0; }
  /* line 70, ../sass/screen.sass */
  table .icon {
    width: 40px;
    text-align: center; }
  /* line 74, ../sass/screen.sass */
  table tr.odd {
    background: #eeeeee; }
  /* line 77, ../sass/screen.sass */
  table tr.even {
    background: whitesmoke; }
  /* line 80, ../sass/screen.sass */
  table td {
    font-size: 80%;
    border: 1px solid #dddddd;
    padding: 2px;
    text-align: left;
    vertical-align: middle; }

/* line 87, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6 {
  font: normal normal 120% "Century Gothic", helvetica, arial, tahoma, sans-serif;
  margin: 1px 0; }

/* line 91, ../sass/screen.sass */
h2 {
  font-size: 110%; }

/* line 94, ../sass/screen.sass */
h3 {
  font-size: 100%; }

/* line 97, ../sass/screen.sass */
h4 {
  font-size: 90%; }

/* line 100, ../sass/screen.sass */
h5 {
  font-size: 80%; }

/* line 103, ../sass/screen.sass */
h6 {
  font-size: 70%; }

/* line 106, ../sass/screen.sass */
a {
  color: #888888;
  text-decoration: none;
  border-bottom: 1px dotted #888888; }
  /* line 111, ../sass/screen.sass */
  a:hover {
    color: #555555;
    border-bottom: 1px dotted #555555; }

/* line 115, ../sass/screen.sass */
.container {
  overflow: auto;
  min-width: 600px; }

/* line 119, ../sass/screen.sass */
section.content {
  padding: 0 10px;
  margin-top: 64px;
  margin-left: 180px;
  padding: 16px 16px 0 10px;
  overflow: auto;
  z-index: 0; }
  /* line 127, ../sass/screen.sass */
  section.content p {
    font-size: 80%;
    width: 90%;
    margin: 8px 8px; }

/* line 133, ../sass/screen.sass */
input[type="text"] {
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  padding: 3px 6px; }

/* line 140, ../sass/screen.sass */
.width-33 {
  float: left !important;
  width: 31% !important;
  margin: 0 1% !important; }

/* line 145, ../sass/screen.sass */
.width-50 {
  float: left !important;
  width: 46% !important;
  margin: 0 2% !important; }

/* line 153, ../sass/screen.sass */
.alpha {
  opacity: 0.4;
  filter: alpha(opacity=40); }

/* line 157, ../sass/screen.sass */
.clear {
  clear: both; }

/* line 160, ../sass/screen.sass */
.indent {
  margin-left: 16px; }

/* line 163, ../sass/screen.sass */
.image-link {
  border: none !important;
  outline: none !important; }

/* line 169, ../sass/screen.sass */
#page_links {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 70%;
  width: 100%;
  vertical-align: middle; }
  /* line 176, ../sass/screen.sass */
  #page_links .page-links-label {
    float: left;
    max-width: 30%;
    padding-top: 8px; }
  /* line 181, ../sass/screen.sass */
  #page_links ul {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 60%; }
    /* line 188, ../sass/screen.sass */
    #page_links ul li {
      list-style: none;
      display: inline-block;
      margin: 4px 2px 0 6px;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 0 0 3px #afafaf; }

/* line 198, ../sass/screen.sass */
.pagination {
  max-width: 34%;
  float: left; }
  /* line 201, ../sass/screen.sass */
  .pagination img {
    vertical-align: middle; }

/* line 204, ../sass/screen.sass */
.pagination_form {
  max-width: 60%;
  float: left;
  padding: 3px; }

/* line 209, ../sass/screen.sass */
#content form {
  overflow-x: auto; }

/* line 213, ../sass/screen.sass */
#service_table td {
  font-size: 80%; }
