[Unit]
Description=OP5 Monitor scheduled reports timer
Wants=mysqld.service

[Timer]
OnBootSec=
OnCalendar=minutely
AccuracySec=10

[Install]
WantedBy=timers.target
