@import url("../default/ie7.css");

input[type=text],
select {
	border:  1px solid #cdcdcd;
}
#service_table tr.even td.white,
#service_table tr.odd td.white {
	border-right: 1px solid #d0d0d0;
}
#service_table tr.even td.service_hostname.w80.bt,
#service_table tr.odd td.service_hostname.w80.bt {
	border: 1px solid #d0d0d0;
}
