@import url("../default/reports.css");

/* response *********************************************************************/

#response {
	background: #f9f9f5 url(images/bg.png) repeat-x;
	border: 1px solid #ffffff;
}

/* id:s *********************************************************************/
.chart-border {
	border: 1px solid #dcdcdc;
}

/* tables ***********************************************************************/
tr.dark td,
tr.odd td.dark,
tr.even td.dark {
	border: 1px solid #dcdccd;
	background: #efefef;
}

tr.even td.dark {
	border-left: 1px solid #dcdcdc;
}

tr.none td {
	background: #ffffff;
}

table.white-table tr.no-result td {
	background: #ffffff;
}

/* time picker **********************************************************************************/
div.time-picker {
	background: #ffffff;
	border: 1px solid #d0d0d0;
}
div.time-picker li.selected {
	background: #316aC5;
	color: #fff;
}
.time_error {
	border:1px solid red;
	color:red;
}

/* tab specifics **********************************************************************************/
.ui-widget-content {
	background: #ffffff;
	color: #222222;
}
.ui-widget-header {
	background: #cdcdcd url(images/bg.png) repeat-x;
	border-bottom: 1px solid #cdcdcd;
	color: #222222;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #cdcdcd;
	background: #dddddd url(images/bg.png) repeat-x;
	color: #555555;
}
.ui-state-hover,
.ui-widget-content
.ui-state-hover,
.ui-state-focus,
.ui-widget-content
.ui-state-focus {
	border: 1px solid #cdcdcd;
	background: #aaaaaa url(images/bg.png) repeat-x;
	color: #212121;
}
.ui-state-active,
.ui-widget-content
.ui-state-active {
	border: 1px solid #cdcdcd;
	background: #ffffff;
	color: #212121;
}

/***********************************************************************/

input,
select,
textarea {
	background: #fafafa;
	border: 1px solid #cccccc;
}

input.wide,
input.sla_month,
input#cal_end,
input#report_name,
input.datepick-end,
input.datepick-start,
input#cal_start,
input#summary_items,
input#filter_field,
input#time_start,
input#time_end,
input#duration,
input#time_input,
input#filename,
input#recipients {
	background: #fafafa;
	border: 1px solid #cccccc;
}

/* trends specifics *******************************************************************************/
.footnotes {
    background: #eee;
}
