@import url("../default/common.css");

#notification_checks ul li {
	padding-left: inherit;
	padding-bottom: inherit;
	background: inherit;
}

#notification_checks {
	padding: 10px 0px 10px 10px;
	background: yellow url(images/bg-dark.png) repeat-x;
}
