
#rotation-frame {
	position: relative;
	height: auto;
	width: 100%;
}

#page-rotation-title {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 10pt;
	background: rgba(0,0,0,0.7);
	padding: 8px 8px 20px 20px;
	border-radius: 0 4px 0 0;
	color: #fff;
}

#header {
	display: none;
}

#page-rotation-opts, #page-rotation-views, #page-rotation-note {
	background: rgba(0,0,0,0.7);
	box-shadow: 0 0 16px rgba(255, 255, 255, 0.5); 
	padding: 8px;
	border-radius: 4px 4px 0 0;
	position: fixed; 
	display: none; 
	bottom: 0; 
	width: 40%; 
	left: 27%; 
	color: #eee;
	z-index: 9999;
}

#page-rotation-opts {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#page-rotation-views {
	width: 15%;
	left: 84%;
	border-radius: 4px 0 0 0; 
}

#content {
	margin-top: 0px;
}

#page-rotation-prev, #page-rotation-next, #page-rotation-play, #page-rotation-pause {
	width: 32.8%;
	display: inline-block;
	cursor: pointer;
	font-size: 11pt;
}

#page-rotation-play, #page-rotation-pause {
	font-size: 16pt;
	text-align: center;
}

#page-rotation-pause {
	display: none;
}

#page-rotation-play {
	opacity: 0.5;
}

#page-rotation-prev {
	text-align: right;
	opacity: 1.0;
}

#page-rotation-next {
	text-align: left;
	opacity: 1.0;
}

#page-rotation-goto {
	text-align: center;
	color: #ddd;
	width: 80%;
	padding-left: 10%;
	text-decoration: underline;
	cursor: pointer;
}

#page-rotation-note {
	width: 20%;
	text-align: center;
	left: 40%;
	top: 45%;
	height: 10%;
}

#page-rotation-slower, #page-rotation-faster {
	width: 43%;
	display: inline-block;
	font-size: 14pt;
	cursor: pointer;
	opacity: 0.5;
}

#page-rotation-speed {
	text-align: center;
	background: transparent;
	font-size: 10pt;
	border: none;
	width: 10%;
	color: #fff;
}

#page-rotation-slower {
	text-align: right;
}

#page-rotation-faster {
	text-align: left;
}

#page-rotation-goto:hover {
	color: #fff;
}