
.tgraph-container {
}

.tgraph {
	position: relative;
	width: 84%;
	height: 40px;
	color: #333;
	float: left;
	padding-left: 2%;
	font: normal normal 8pt Helvetica, Arial, Verdana, sans-serif;
}

.tgraph-hoverbox {
	border: 1px solid #999;
	border-radius: 4px;
	display: none;
	z-index: 9999;
	box-shadow: inset 2px 2px 5px #fff;
	background: transparent;
	background: rgba(255, 255, 255, 0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF)"; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	zoom: 1;
	
	position: absolute;
	color: #333;
	max-width: 180px;
	font: normal normal 8pt Helvetica, Arial, Verdana, sans-serif;
	padding: 5px;
	text-shadow: 1px 1px 1px #fff;
}

.tgraph .tgraph-time {
	float: left;
	text-align: left;
	font-size: 7pt;
}

.tgraph .tgraph-time-line {
	margin: 0 0;
	border-left: 1px solid #000;
	opacity: 0.1;
	z-index: 0;
	width: 0;
}

.tgraph-label {
	float: left;
	width: 9%;
	padding: 15px 1% 0 0;
	text-align: right;
}

.tgraph .tgraph-subline {
	position: relative;
	margin-top: -12px;
	outline: 1px solid #fff;
	height: 10px;
}

.tgraph .tgraph-note:hover {
	background: #bbb;
	z-index: 1;
}

.tgraph .tgraph-block-line {
	margin: 12px 0;
}

.tgraph .tgraph-block .tgraph-block {
	height: 8px;
}

.tgraph .tgraph-block {
	float: left;
	height: 16px;
	z-index: 0;
}

.tgraph-hoverbox b {
	display: inline-block;
	margin: 2px 0px;
}

.tgraph-hoverbox small {
	display: inline-block;
	margin: 2px 0px;
	font-size: 7pt;
}