.CodeMirror-hints {

  position: absolute;
  z-index: 10;

  overflow: hidden;
  list-style: none;

  margin: 0;

  border: 1px solid #d0d0d0;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  background: white;

  font-size: 10pt;
  font-family: monospace;
  max-width: 19em;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  white-space: pre;
  color: #555555;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #50c0e4;
  color: white;
}
