@import "compass/css3/images"

.header
	@include background-with-css2-fallback(linear-gradient(top, $gradient-dark-hi, $gradient-dark-lo), $gradient-dark-hi)
	box-shadow: 0 0 6px $weak_shadow_color
	border-bottom: 1px solid $border-color-dark
	height: $header_height
	width: 100%
	min-width: 768px
	position: fixed
	top: 0
	left: 0
	z-index: 2

	.logo
		position: fixed
		padding: 7px
		left: 0px
		top: 0px

		border-radius: 0px 0px 5px 0px
		border: 0 solid $border-color-dark
		border-width: 0 1px 1px 0

		box-shadow: 0 0 3px $weak_shadow_color
		@include background-with-css2-fallback(linear-gradient(top, $gradient-dark-hi, $gradient-dark-lo), $gradient-dark-hi)
		
		.logo-image
			margin: 7px 9px 7px 7px
			height: 19px
			width: 19px
			display: inline-block

	.headercontent
		float: left
		margin-left: 20px
		margin-top: 22px
		padding: 0
		border-radius: 6px 6px 0 0
		border: 1px solid $border-color-dark
		border-bottom: none
		font-size: 0.9em

		ul
			float: left

			li
				float: left
				border-right: 1px solid $border-color-light
				border-radius: 5px 5px 0 0

				&:hover
					@include background-with-css2-fallback(linear-gradient(top, #f8f8f8, #fff), $gradient-dark-hi)
		a

			span
				cursor: pointer
				margin: 6px 6px 0 6px
				background-repeat: no-repeat
				overflow: auto

.header_info_row
	position: fixed
	top: 5px
	left: 360px
	right: 280px
	font-size: 90%
	color: #555
	overflow: hidden
	white-space: nowrap

	.notificaiton_box
		display: inline-block
		margin-left: 8px
