.icon-all, .icon-12, .icon-16, .icon-20, .icon-24, .icon-32, .nav-seg img {
  display: inline-block;
  margin: 2px;
  background-position: center;
  vertical-align: middle;
}

.icon-12 {
  width: 12px;
  height: 12px;
}

.icon-16 {
  width: 16px;
  height: 16px; }

.icon-20 {
  width: 20px;
  height: 20px; }

.icon-24 {
  width: 24px;
  height: 24px; }

.icon-32 {
  width: 32px;
  height: 32px; }

.x12-sprite, .x12-box-close, .x12-box-config, .x12-box-maximize, .x12-box-mimimize, .x12-copy, .x12-cross, .x12-edit, .x12-flapping-na, .x12-flapping-no, .x12-flapping-yes, .x12-help, .x12-invert-no, .x12-invert-yes, .x12-no, .x12-sched-downtime-na, .x12-sched-downtime-no, .x12-sched-downtime-yes, .x12-shield-active, .x12-shield-critical, .x12-shield-disabled, .x12-shield-down, .x12-shield-enabled, .x12-shield-error, .x12-shield-info, .x12-shield-not-critical, .x12-shield-not-down, .x12-shield-not-ok, .x12-shield-not-pending, .x12-shield-not-unknown, .x12-shield-not-unreachable, .x12-shield-not-up, .x12-shield-not-warning, .x12-shield-ok, .x12-shield-passive, .x12-shield-pending, .x12-shield-unknown, .x12-shield-unreachable, .x12-shield-up, .x12-shield-warning, .x12-yes {
  background: url('../icons/x12-s2cdc3e55e8.png') no-repeat; }

.x12-box-close {
  background-position: 0 -384px; }

.x12-box-config {
  background-position: 0 -432px; }

.x12-box-maximize {
  background-position: 0 -456px; }

.x12-box-mimimize {
  background-position: 0 -468px; }

.x12-copy {
  background-position: 0 -444px; }

.x12-cross {
  background-position: 0 -228px; }

.x12-edit {
  background-position: 0 -240px; }

.x12-flapping-na {
  background-position: 0 -288px; }

.x12-flapping-no {
  background-position: 0 0; }

.x12-flapping-yes {
  background-position: 0 -144px; }

.x12-help {
  background-position: 0 -252px; }

.x12-invert-no {
  background-position: 0 -12px; }

.x12-invert-yes {
  background-position: 0 -156px; }

.x12-no {
  background-position: 0 -168px; }

.x12-sched-downtime-na {
  background-position: 0 -300px; }

.x12-sched-downtime-no {
  background-position: 0 -24px; }

.x12-sched-downtime-yes {
  background-position: 0 -180px; }

.x12-shield-active {
  background-position: 0 -36px; }

.x12-shield-critical {
  background-position: 0 -192px; }

.x12-shield-disabled {
  background-position: 0 -396px; }

.x12-shield-down {
  background-position: 0 -204px; }

.x12-shield-enabled {
  background-position: 0 -48px; }

.x12-shield-error {
  background-position: 0 -216px; }

.x12-shield-info {
  background-position: 0 -96px; }

.x12-shield-not-critical {
  background-position: 0 -336px; }

.x12-shield-not-down {
  background-position: 0 -348px; }

.x12-shield-not-ok {
  background-position: 0 -312px; }

.x12-shield-not-pending {
  background-position: 0 -372px; }

.x12-shield-not-unknown {
  background-position: 0 -360px; }

.x12-shield-not-unreachable {
  background-position: 0 -264px; }

.x12-shield-not-up {
  background-position: 0 -324px; }

.x12-shield-not-warning {
  background-position: 0 -276px; }

.x12-shield-ok {
  background-position: 0 -60px; }

.x12-shield-passive {
  background-position: 0 -408px; }

.x12-shield-pending {
  background-position: 0 -420px; }

.x12-shield-unknown {
  background-position: 0 -108px; }

.x12-shield-unreachable {
  background-position: 0 -120px; }

.x12-shield-up {
  background-position: 0 -72px; }

.x12-shield-warning {
  background-position: 0 -132px; }

.x12-yes {
  background-position: 0 -84px; }

.x16-sprite, .x16-access-config, .x16-access-configuration, .x16-acknowledged-not, .x16-acknowledged, .x16-active-checks-disabled, .x16-add-comment, .x16-alert-histogram, .x16-alert-history, .x16-alerthistory, .x16-alertsummary, .x16-arrow-left, .x16-arrow-right, .x16-assign-group-rights, .x16-auth-modules, .x16-availability, .x16-backup-delete, .x16-backup-restore, .x16-backup-view, .x16-backup, .x16-calendar, .dp-choose-date,.x16-check-boxes, .x16-check-command-import, .x16-check-command, .x16-checks-passive, .x16-cli, .x16-command, .x16-configuration, .x16-contact-groups, .x16-contacts, .x16-copy, .x16-delete-comment, .x16-delete-comments, .x16-delete-doc, .x16-delete-downtime, .x16-delete-schedule, .x16-delete, .x16-disable-active-checks, .x16-disabled, .x16-downtime, .x16-edit-user-list, .x16-edit, .x16-enable, .x16-enabled, .x16-eventlog, .x16-extended-information, .x16-filter, .x16-flapping, .x16-help, .x16-histogram, .x16-host-actions, .x16-host-notes, .x16-host-wizard, .x16-host, .x16-hostevent, .x16-hostgroup, .x16-hoststatus, .x16-info, .x16-link, .x16-locate-host-on-map, .x16-log-message, .x16-logrotate, .x16-management-packs, .x16-manual, .x16-merlin, .x16-monitoring, .x16-nacoma, .x16-nagvis, .x16-network-autoscan, .x16-notification, .x16-notifications, .x16-notify-delay, .x16-notify-disabled, .x16-notify-send, .x16-notify, .x16-op5, .x16-outages, .x16-plugin-search, .x16-pnp-special-template, .x16-pnp, .x16-profiles, .x16-re-schedule, .x16-recovery, .x16-recurring-downtime, .x16-refresh, .x16-remove, .x16-reporting, .x16-save_search, .x16-saved-filters, .x16-saved-reports, .x16-scan-host, .x16-schedule, .x16-scheduled-downtime-not, .x16-scheduled-downtime, .x16-schedulereports, .x16-schedulingqueue, .x16-send-report, .x16-service-details, .x16-service, .x16-serviceevent, .x16-servicegroup, .x16-settings, .x16-shield-active, .x16-shield-critical, .x16-shield-disabled, .x16-shield-down, .x16-shield-enabled, .x16-shield-error, .x16-shield-help, .x16-shield-inactive, .x16-shield-info, .x16-shield-not-critical, .x16-shield-not-disabled, .x16-shield-not-down, .x16-shield-not-ok, .x16-shield-not-pending, .x16-shield-not-unknown, .x16-shield-not-unreachable, .x16-shield-not-up, .x16-shield-not-warning, .x16-shield-ok, .x16-shield-outages, .x16-shield-pending, .x16-shield-recovery, .x16-shield-unknown, .x16-shield-unreachable, .x16-shield-up, .x16-shield-warning, .x16-sign-add, .x16-sign-cross, .x16-sign-minus, .x16-sla, .x16-start, .x16-status-detail, .x16-stop-execute, .x16-stop, .x16-support, .x16-synergy, .x16-syslog-alert, .x16-syslog-crit, .x16-syslog-critical, .x16-syslog-debug, .x16-syslog-emergency, .x16-syslog-err, .x16-syslog-error, .x16-syslog-info, .x16-syslog-notice, .x16-syslog-search, .x16-syslog-warn, .x16-syslog-warning, .x16-syslog, .x16-tac, .x16-templates, .x16-time-periods, .x16-traps, .x16-trends, .x16-use, .x16-use_search, .x16-viewconfig, .x16-zoom, .x16-sysnagios {
  background: url('../icons/x16-s5c5649ec9f.png') no-repeat; }

.x16-access-config {
  background-position: 0 -1504px; }

.x16-access-configuration {
  background-position: 0 -1152px; }

.x16-acknowledged-not {
  background-position: 0 -1680px; }

.x16-acknowledged {
  background-position: 0 -1568px; }

.x16-active-checks-disabled {
  background-position: 0 -560px; }

.x16-add-comment {
  background-position: 0 -1872px; }

.x16-alert-histogram {
  background-position: 0 -2448px; }

.x16-alert-history {
  background-position: 0 -32px; }

.x16-alerthistory {
  background-position: 0 -48px; }

.x16-alertsummary {
  background-position: 0 -1968px; }

.x16-arrow-left {
  background-position: 0 -2480px; }

.x16-arrow-right {
  background-position: 0 -2464px; }

.x16-assign-group-rights {
  background-position: 0 -1360px; }

.x16-auth-modules {
  background-position: 0 -1824px; }

.x16-availability {
  background-position: 0 -1168px; }

.x16-backup-delete {
  background-position: 0 -832px; }

.x16-backup-restore {
  background-position: 0 -816px; }

.x16-backup-view {
  background-position: 0 -1104px; }

.x16-backup {
  background-position: 0 -848px; }

.x16-calendar {
  background-position: 0 -1840px; }

.dp-choose-date {
  background-position: 0 -1840px;
}

.x16-check-boxes {
  background-position: 0 -1472px; }

.x16-check-command-import {
  background-position: 0 -1776px; }

.x16-check-command {
  background-position: 0 -2160px; }

.x16-checks-passive {
  background-position: 0 -1984px; }

.x16-cli {
  background-position: 0 -672px; }

.x16-command {
  background-position: 0 -2272px; }

.x16-configuration {
  background-position: 0 -1216px; }

.x16-contact-groups {
  background-position: 0 -2080px; }

.x16-contacts {
  background-position: 0 -2416px; }

.x16-copy {
  background-position: 0 -1952px; }

.x16-delete-comment {
  background-position: 0 -2432px; }

.x16-delete-comments {
  background-position: 0 -1888px; }

.x16-delete-doc {
  background-position: 0 -1648px; }

.x16-delete-downtime {
  background-position: 0 -1376px; }

.x16-delete-schedule {
  background-position: 0 -1600px; }

.x16-delete {
  background-position: 0 -320px; }

.x16-disable-active-checks {
  background-position: 0 -2528px; }

.x16-disabled {
  background-position: 0 -2192px; }

.x16-downtime {
  background-position: 0 -112px; }

.x16-edit-user-list {
  background-position: 0 -2000px; }

.x16-edit {
  background-position: 0 -464px; }

.x16-enable {
  background-position: 0 -896px; }

.x16-enabled {
  background-position: 0 -912px; }

.x16-eventlog {
  background-position: 0 -736px; }

.x16-extended-information {
  background-position: 0 -576px; }

.x16-filter {
  background-position: 0 0; }

.x16-flapping {
  background-position: 0 -1248px; }

.x16-help {
  background-position: 0 -496px; }

.x16-histogram {
  background-position: 0 -2496px; }

.x16-host-actions {
  background-position: 0 -256px; }

.x16-host-notes {
  background-position: 0 -528px; }

.x16-host-wizard {
  background-position: 0 -352px; }

.x16-host {
  background-position: 0 -640px; }

.x16-sysnagios {
  background-position: 0 -640px; }

.x16-hostevent {
  background-position: 0 -432px; }

.x16-hostgroup {
  background-position: 0 -752px; }

.x16-hoststatus {
  background-position: 0 -544px; }

.x16-info {
  background-position: 0 -2032px; }

.x16-link {
  background-position: 0 -688px; }

.x16-locate-host-on-map {
  background-position: 0 -1344px; }

.x16-log-message {
  background-position: 0 -592px; }

.x16-logrotate {
  background-position: 0 -1296px; }

.x16-management-packs {
  background-position: 0 -208px; }

.x16-manual {
  background-position: 0 -368px; }

.x16-merlin {
  background-position: 0 -512px; }

.x16-monitoring {
  background-position: 0 -768px; }

.x16-nacoma {
  background-position: 0 -1856px; }

.x16-nagvis {
  background-position: 0 -2336px; }

.x16-network-autoscan {
  background-position: 0 -2256px; }

.x16-notification {
  background-position: 0 -480px; }

.x16-notifications {
  background-position: 0 -1664px; }

.x16-notify-delay {
  background-position: 0 -1488px; }

.x16-notify-disabled {
  background-position: 0 -1744px; }

.x16-notify-send {
  background-position: 0 -1728px; }

.x16-notify {
  background-position: 0 -1456px; }

.x16-op5 {
  background-position: 0 -80px; }

.x16-outages {
  background-position: 0 -624px; }

.x16-plugin-search {
  background-position: 0 -64px; }

.x16-pnp-special-template {
  background-position: 0 -1904px; }

.x16-pnp {
  background-position: 0 -1584px; }

.x16-profiles {
  background-position: 0 -2064px; }

.x16-re-schedule {
  background-position: 0 -1392px; }

.x16-recovery {
  background-position: 0 -928px; }

.x16-recurring-downtime {
  background-position: 0 -992px; }

.x16-refresh {
  background-position: 0 -1520px; }

.x16-remove {
  background-position: 0 -1440px; }

.x16-reporting {
  background-position: 0 -1184px; }

.x16-save_search {
  background-position: 0 -2176px; }

.x16-saved-filters {
  background-position: 0 -16px; }

.x16-saved-reports {
  background-position: 0 -1120px; }

.x16-scan-host {
  background-position: 0 -1632px; }

.x16-schedule {
  background-position: 0 -2048px; }

.x16-scheduled-downtime-not {
  background-position: 0 -1616px; }

.x16-scheduled-downtime {
  background-position: 0 -1312px; }

.x16-schedulereports {
  background-position: 0 -448px; }

.x16-schedulingqueue {
  background-position: 0 -240px; }

.x16-send-report {
  background-position: 0 -1536px; }

.x16-service-details {
  background-position: 0 -1696px; }

.x16-service {
  background-position: 0 -2400px; }

.x16-serviceevent {
  background-position: 0 -1424px; }

.x16-servicegroup {
  background-position: 0 -2016px; }

.x16-settings {
  background-position: 0 -1232px; }

.x16-shield-active {
  background-position: 0 -864px; }

.x16-shield-critical {
  background-position: 0 -1024px; }

.x16-shield-disabled {
  background-position: 0 -2208px; }

.x16-shield-down {
  background-position: 0 -1040px; }

.x16-shield-enabled {
  background-position: 0 -944px; }

.x16-shield-error {
  background-position: 0 -1200px; }

.x16-shield-help {
  background-position: 0 -1072px; }

.x16-shield-inactive {
  background-position: 0 -1056px; }

.x16-shield-info {
  background-position: 0 -1136px; }

.x16-shield-not-critical {
  background-position: 0 -2128px; }

.x16-shield-not-disabled {
  background-position: 0 -2368px; }

.x16-shield-not-down {
  background-position: 0 -2144px; }

.x16-shield-not-ok {
  background-position: 0 -2096px; }

.x16-shield-not-pending {
  background-position: 0 -2384px; }

.x16-shield-not-unknown {
  background-position: 0 -2320px; }

.x16-shield-not-unreachable {
  background-position: 0 -2288px; }

.x16-shield-not-up {
  background-position: 0 -2112px; }

.x16-shield-not-warning {
  background-position: 0 -2304px; }

.x16-shield-ok {
  background-position: 0 -960px; }

.x16-shield-outages {
  background-position: 0 -1008px; }

.x16-shield-pending {
  background-position: 0 -2224px; }

.x16-shield-recovery {
  background-position: 0 -976px; }

.x16-shield-unknown {
  background-position: 0 -1088px; }

.x16-shield-unreachable {
  background-position: 0 -1264px; }

.x16-shield-up {
  background-position: 0 -880px; }

.x16-shield-warning {
  background-position: 0 -1280px; }

.x16-sign-add {
  background-position: 0 -704px; }

.x16-sign-cross {
  background-position: 0 -336px; }

.x16-sign-minus {
  background-position: 0 -784px; }

.x16-sla {
  background-position: 0 -2352px; }

.x16-start {
  background-position: 0 -1408px; }

.x16-status-detail {
  background-position: 0 -1792px; }

.x16-stop-execute {
  background-position: 0 -1328px; }

.x16-stop {
  background-position: 0 -2240px; }

.x16-support {
  background-position: 0 -656px; }

.x16-synergy {
  background-position: 0 -720px; }

.x16-syslog-alert {
  background-position: 0 -176px; }

.x16-syslog-crit {
  background-position: 0 -400px; }

.x16-syslog-critical {
  background-position: 0 -416px; }

.x16-syslog-debug {
  background-position: 0 -304px; }

.x16-syslog-emergency {
  background-position: 0 -160px; }

.x16-syslog-err {
  background-position: 0 -128px; }

.x16-syslog-error {
  background-position: 0 -144px; }

.x16-syslog-info {
  background-position: 0 -224px; }

.x16-syslog-notice {
  background-position: 0 -96px; }

.x16-syslog-search {
  background-position: 0 -384px; }

.x16-syslog-warn {
  background-position: 0 -272px; }

.x16-syslog-warning {
  background-position: 0 -288px; }

.x16-syslog {
  background-position: 0 -608px; }

.x16-tac {
  background-position: 0 -800px; }

.x16-templates {
  background-position: 0 -1760px; }

.x16-time-periods {
  background-position: 0 -1808px; }

.x16-traps {
  background-position: 0 -2512px; }

.x16-trends {
  background-position: 0 -1552px; }

.x16-use {
  background-position: 0 -1936px; }

.x16-use_search {
  background-position: 0 -1712px; }

.x16-viewconfig {
  background-position: 0 -192px; }

.x16-zoom {
  background-position: 0 -1920px; }

.x20-sprite, .x20-adv_search, .x20-latency, .x20-share, .x20-share2, .x20-shield-error, .x20-time, .x20-time_latency {
  background: url('../icons/x20-s5df80d56ae.png') no-repeat; }

.x20-adv_search {
  background-position: 0 -80px; }

.x20-latency {
  background-position: 0 -40px; }

.x20-share {
  background-position: 0 -20px; }

.x20-share2 {
  background-position: 0 -100px; }

.x20-shield-error {
  background-position: 0 -60px; }

.x20-time {
  background-position: 0 -120px; }

.x20-time_latency {
  background-position: 0 0; }

.x24-sprite, .x24-add_save_search, .x24-info, .x24-link, .x24-news, .x24-refresh, .x24-save_search, .x24-settings, .x24-shield-critical, .x24-shield-disabled, .x24-shield-down, .x24-shield-error, .x24-shield-help, .x24-shield-info, .x24-shield-not-critical, .x24-shield-not-disabled, .x24-shield-not-down, .x24-shield-not-ok, .x24-shield-not-pending, .x24-shield-not-unknown, .x24-shield-not-up, .x24-shield-ok, .x24-shield-outages, .x24-shield-pending, .x24-shield-unknown, .x24-shield-unreachable, .x24-shield-up, .x24-shield-warning {
  background: url('../icons/x24-sd5c8fbfbd4.png') no-repeat; }

.x24-add_save_search {
  background-position: 0 -600px; }

.x24-info {
  background-position: 0 -504px; }

.x24-link {
  background-position: 0 -312px; }

.x24-news {
  background-position: 0 -576px; }

.x24-refresh {
  background-position: 0 -288px; }

.x24-save_search {
  background-position: 0 -624px; }

.x24-settings {
  background-position: 0 -264px; }

.x24-shield-critical {
  background-position: 0 0; }

.x24-shield-disabled {
  background-position: 0 -360px; }

.x24-shield-down {
  background-position: 0 -24px; }

.x24-shield-error {
  background-position: 0 -192px; }

.x24-shield-help {
  background-position: 0 -216px; }

.x24-shield-info {
  background-position: 0 -240px; }

.x24-shield-not-critical {
  background-position: 0 -456px; }

.x24-shield-not-disabled {
  background-position: 0 -528px; }

.x24-shield-not-down {
  background-position: 0 -480px; }

.x24-shield-not-ok {
  background-position: 0 -408px; }

.x24-shield-not-pending {
  background-position: 0 -552px; }

.x24-shield-not-unknown {
  background-position: 0 -384px; }

.x24-shield-not-up {
  background-position: 0 -432px; }

.x24-shield-ok {
  background-position: 0 -72px; }

.x24-shield-outages {
  background-position: 0 -48px; }

.x24-shield-pending {
  background-position: 0 -336px; }

.x24-shield-unknown {
  background-position: 0 -120px; }

.x24-shield-unreachable {
  background-position: 0 -144px; }

.x24-shield-up {
  background-position: 0 -96px; }

.x24-shield-warning {
  background-position: 0 -168px; }

.x32-sprite, .x32-about, .x32-configuration, .x32-monitoring, .x32-nagiosgraph, .x32-old-availability, .x32-page-csv, .x32-page-pdf, .x32-reporting, .x32-saved-filters, .x32-shield-critical, .x32-shield-disabled, .x32-shield-down, .x32-shield-error, .x32-shield-help, .x32-shield-info, .x32-shield-not-critical, .x32-shield-not-disabled, .x32-shield-not-down, .x32-shield-not-ok, .x32-shield-not-pending, .x32-shield-not-unknown, .x32-shield-not-up, .x32-shield-ok, .x32-shield-outages, .x32-shield-pending, .x32-shield-unknown, .x32-shield-unreachable, .x32-shield-up, .x32-shield-warning, .x32-square-add-schedule, .x32-square-back, .x32-square-edit, .x32-square-link, .x32-square-print, .x32-square-save, .x32-square-view-schedule {
  background: url('../icons/x32-s62d273070f.png') no-repeat; }

.x32-about {
  background-position: 0 -128px; }

.x32-configuration {
  background-position: 0 0; }

.x32-monitoring {
  background-position: 0 -32px; }

.x32-nagiosgraph {
  background-position: 0 -416px; }

.x32-old-availability {
  background-position: 0 -672px; }

.x32-page-csv {
  background-position: 0 -640px; }

.x32-page-pdf {
  background-position: 0 -704px; }

.x32-reporting {
  background-position: 0 -64px; }

.x32-saved-filters {
  background-position: 0 -96px; }

.x32-shield-critical {
  background-position: 0 -224px; }

.x32-shield-disabled {
  background-position: 0 -768px; }

.x32-shield-down {
  background-position: 0 -256px; }

.x32-shield-error {
  background-position: 0 -512px; }

.x32-shield-help {
  background-position: 0 -320px; }

.x32-shield-info {
  background-position: 0 -384px; }

.x32-shield-not-critical {
  background-position: 0 -896px; }

.x32-shield-not-disabled {
  background-position: 0 -992px; }

.x32-shield-not-down {
  background-position: 0 -928px; }

.x32-shield-not-ok {
  background-position: 0 -832px; }

.x32-shield-not-pending {
  background-position: 0 -1024px; }

.x32-shield-not-unknown {
  background-position: 0 -960px; }

.x32-shield-not-up {
  background-position: 0 -864px; }

.x32-shield-ok {
  background-position: 0 -160px; }

.x32-shield-outages {
  background-position: 0 -288px; }

.x32-shield-pending {
  background-position: 0 -736px; }

.x32-shield-unknown {
  background-position: 0 -352px; }

.x32-shield-unreachable {
  background-position: 0 -448px; }

.x32-shield-up {
  background-position: 0 -192px; }

.x32-shield-warning {
  background-position: 0 -480px; }

.x32-square-add-schedule {
  background-position: 0 -544px; }

.x32-square-back {
  background-position: 0 -1056px; }

.x32-square-edit {
  background-position: 0 -608px; }

.x32-square-link {
  background-position: 0 -800px; }

.x32-square-print {
  background-position: 0 -1088px; }

.x32-square-save {
  background-position: 0 -1120px; }

.x32-square-view-schedule {
  background-position: 0 -576px; }
