/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.nullify, table, table tbody, table th, table tr, table td {
  background: transparent;
  border-spacing: 0;
  vertical-align: top;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* Element layout */

html {
  height: 100%;
}

body {
  font: normal normal 0.75em 'Helvetica', 'Arial', 'Tahoma', sans-serif;
  background: #fdfdfd;
  color: #3a3a3a;
  margin: 0;
  padding: 0;
  height: 100%;
}

hr {
  height: 0px;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

caption {
  padding-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, tahoma, sans-serif;
  margin: 1px 0;
}

h1 {
  font-size: 1.3em;
  margin: 10px 0;
}

h2 {
  font-size: 1.2em;
  margin: 6px 0;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 1.05em;
}

a, input[type="submit"].plain,
button.plain {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px dotted #444444;
}

a.no_uline, input[type="submit"].plain.no_uline, button.plain.no_uline {
    border-bottom: 0 dotted #444444;
}

a:hover, input[type="submit"].plain:hover, button.plain:hover {
    color: #333333;
    border-bottom: 1px dotted #333333;
}

code {
  font-family: monospace;
}

label, button, input[type=submit] {
  cursor: pointer;
}


/* Form layout */

form {
  width: 100%;
  display: block;
}

form label {
  display: inline-block;
}

form fieldset {
  margin: 4px;
}

form button {
  margin: 2px 4px;
}

input[type="text"], input[type="password"] {
  border-radius: 3px;
  border: 1px solid #777777;
  padding: 3px 6px;
}

input[type="submit"].plain {
  background: transparent;
  border-width: 0 0 1px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  display: inline;
  margin: 0;
  padding: 0 !important;
}

input[type=text], input[type=password], select, textarea {
  background: white;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px 1px;
  margin-top: 3px;
  margin-left: 0px;
}

select {
  width: 382px;
  padding: 2px 1px;
}

select[multiple=multiple] {
  padding: 3px;
  width: 380px;
}

select:hover {
  background-color: #eeecea;
}

select.auto {
  width: auto;
}

button, input[type=reset], input[type=submit], input[type=button] {
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid #cccccc;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 5px;
  margin-bottom: 5px;
}

button:hover, input[type=reset]:hover, input[type=submit]:hover, input[type=button]:hover {
  background-color: #a0a0a0;
}

input[type=button], input[type=submit], input[type=reset], input[type=checkbox], input[type=radio] {
  width: auto;
}

input[type=checkbox], input[type=radio] {
  margin: 0px;
  margin-bottom: 5px;
  border: 0px;
}

input.sla_month {
  width: 30px;
}

input.wide {
  padding: 2px 4px;
  width: 460px;
  margin: 0px;
  margin-top: 3px;
}

.form-dropdown {
  padding: 10px;
  background: #cdcdcd url(images/bg.png) repeat-x;
  border: 1px solid gainsboro;
  display: none;
}

.form-dropdown input, .form-dropdown form {
  margin: 0;
}

textarea {
  width: 378px;
}

select#period.popup {
  margin-top: 3px;
  width: 100px;
}

input#summary_items {
  width: 50px;
}

td.iseditable input,
td.report_name select,
td.period_select select {
  width: auto;
  display: block;
  margin-bottom: 5px;
}

.txtarea textarea {
  display: block;
  margin-bottom: 5px;
}

.input-wide {
  width: 312px;
}

#progress {
  margin-left: 40%;
}

#progress em {
  /*display: block; */
  margin-top: 12px;
}

/* Table layout */

table {
  font-size: 10pt;
  margin: 0 0;
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  padding: 8px;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table tr {
  background: none;
}

table td {
  border-bottom: 1px solid #dddbd9;
  padding: 3px 4px 4px 4px;
  vertical-align: middle;
  text-align: left;
}

table td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}

table th {
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 8px 4px;
  word-wrap: nowrap;
}

table tr:hover td {
  background: #f5f5f5;
}

table tr:first-child td {
  border-top: none;
}

table th:last-child {
  border-right: none;
}

table td:first-child,
table td:first-child {
  border-top: none;
  border-left: none;
}

table .header {
  position: relative;
  z-index: 0;
  background: none;
  border: none;
  height: auto;
  min-width: 0;
  width: auto;
}

table .icon {
  width: 32px;
  min-width: 32px;
  text-align: center;
}

table .comments {
  width: 40px;
  text-align: center;
}


table.no_border td {
  border: none;
}

table.list-table {}
table.list-table td {
        vertical-align: top;
}

table.list-table ul li {
        padding: 6px 0 6px 6px;
}

td.comments {
  max-width: 200px;
}

.comments .content {
  margin-top: 0;
  padding: 4px;
}

tr#pdf-hide td {
  background: transparent;
  margin-top: 5px;
  text-align: right;
  padding-right: 2px;
}

th.headerNone {
  white-space: nowrap;
  text-align: right;
}

/* Application specific layout */

.container {
  overflow: auto;
  min-width: 600px;
  height: 100%;
}

.content {
  padding: 0;
  height: 100%;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
}

.content iframe#iframe, .content object#geomap, .content iframe#nagvis {
  width: 100%;
  left: 0;
}

.content p {
  width: 90%;
  margin: 8px 8px;
}

.center {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10%;
  width: 50%;
  min-width: 256px;
  max-width: 512px;
}

.center p,
.center h1,
.center h2,
.center h3,
.center fieldset[type=buttons],
.center h4 {
  text-align: center;
  width: 100%;
}

.center p {
  font-size: 10pt;
  margin-left: 0;
  margin-right: 0;
}

h1.emote {
  font-size: 24pt;
  color: #777;
}

h1.emote b {
  font-size: 34pt;
  margin-bottom: 8px;
  color: #999;
  display: block;
}

.header {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 900px;
  width: 100%;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.header .logo {
  position: relative;
  margin-left: 16px;
  float: left;
}

.quicklinks li {
  display: inline-block;
  margin: 0 2px;
  padding: 0 2px 2px 2px;
  border-radius: 16px;
}

.quicklinks li.selected,
.quicklinks li:hover {
  background-color: #f2f2f2;
}

.header .headercontent a span {
  cursor: pointer;
  background-repeat: no-repeat;
  overflow: auto;
  margin: 6px 4px 0 4px;
}

.quicklinks {
  float: left;
  margin: 9px 0 0 32px;
  font-size: 0.9em;
  padding: 0;
}

.quicklinks a {
  position: relative;
  display: inline-block;
  padding: 2px 2px 4px 2px;
}

.quicklinks a span.quicklink-badge {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px 4px;
  margin: 0;

  background: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 1px #fff;
  font-size: 10px;
  color: #000;
}

.width-33 {
  width: 33.33% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.width-66 {
  width: 66.66% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.width-50 {
  width: 50% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.width-60 {
  width: 60% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.width-80 {
  width: 80% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.width-20 {
  width: 20% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.width-25 {
  width: 25% !important;
  margin: 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.alpha {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.white {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

.clear {
  clear: both;
}

.left {
  float: left !important;
  margin: 0;
}

.right {
  float: right !important;
  margin: 0;
}

.indent {
  margin-left: 16px;
}

.image-link {
  border: none !important;
}


.badge {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 1px 8px;
  margin: 1px 4px 0px 4px;
  border-radius: 3px;
  min-width: 16px;
}

.alert, #response .alert {
  box-sizing: border-box;
  border: 1px solid #fbeed5;
  color: #c09853;
  margin: 1em;
  padding: 8px 35px 8px 14px;
  border-radius: 4px;
}

.alert .license h3 {
  font-weight: bold;
}

.alert .license p {
  margin: 1em 0 1em 0;
}

.long_output {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.long_output img {
  margin: 4px 8px;
  vertical-align: middle;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.no-borders td {
  border: none;
}

.no_border {
  border: none;
}

.auto_width {
  width: auto;
}

.restricted-output {
  word-wrap: break-word;
  min-width: 256px;
  max-width: 640px;
  width: 30%;
}

.profile {
  float: right;
  text-align: left;
  padding: 0px 8px 0px 4px;
}


.profile-name {
  display: inline-block;
  font-size: 10pt;
  color: #50c0e4;
  padding: 2px;
  margin: 0 0 0 8px;
}

.profile-host {
  font-size: 8pt;
  color: #999999;
}

.menu ul li.profile-info {
  padding: 8px 7px 4px 7px;
}

.profile-image {
  display: inline-block;
  padding: 2px 2px 0 2px;
}

.finder {
  float: right;
  padding: 6px 6px 8px 4px;
}

.finder input {
  padding: 6px 8px;
  margin-right: 4px;
  width: 128px;
}

.autocomplete {
  display: none;
  position: fixed;
  top: 40px;
  right: 6px;
  width: 230px;
  background: #fdfdfd;
  border: 1px solid #aaaaaa;
  z-index: 20;
  font-size: 10pt;
  border-radius: 2px;
}

.autocomplete .selected {
  background-color: #eeeeee;
}

.autocomplete a {
  display: block;
  padding: 6px 8px;
  white-space: pre;
}

/* Menu layout */

.main-menu {
  float: left;
}

.menu {
  z-index: 3;
  font-size: 10pt;
}

.menu.menu-right {
  margin-right: 8px;
}

.menu.menu-right > ul > li {
  height: 24px;
}

.menu.menu-right > ul > li > ul {
  right: 0;
}

.menu.menu-right > ul > li > ul ul {
  left: -100%;
  margin-left: -2px;
}

.menu.menu-right > ul > li > a {
  display: inline-block;
  padding: 5px 8px 4px 8px;
}

.menu ul {
  position: relative;
  float: left;
}

.menu ul li {
  position: relative;
  display: inline-block;
  padding: 7px;
}

.menu ul li:hover {
  background: #f0f0f0;
  cursor: default;
}

.menu ul li:hover > ul {
  display: block;
}

.menu ul li ul {
  position: absolute;
  display: none;
  width: 200px;
  margin: 0;
  top: 100%;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 4;
}

.menu ul ul.image-menu {
  width: 150px;
}

.menu.menu-right > ul > li > ul ul.image-menu {
  left: -150px;
}

.menu ul ul.image-menu > li:hover {
  background: #ffffff;
}

.menu ul ul.image-menu > li {
  display: inline-block;
  border: none;
}

.menu ul ul.image-menu > li > a {
  padding: 8px;
  margin: 8px;
  margin-left: 0;
  border-radius: 2px;
}

.menu ul ul.image-menu > li:first-child > a {
  margin-left: 8px;
}

.menu ul ul.image-menu a[data-selected="yes"] {
  background: #dddddd;
}

.menu ul ul.image-menu > li a:hover {
  background: #f0f0f0;
}

.menu ul li ul li {
  display: block;
  position: relative;
  border: none;
  padding: 0;
}

.menu ul li ul li:first-child {
  border: none;
}

.menu ul li ul li.meta {
  padding: 4px 0 4px 8px;
}

.menu .menu-separator {
  color: #aaaaaa;
  text-transform: uppercase;
  padding: 6px 4px 2px 0px;
  border-top: 1px solid #bbbbbb;
  margin: 6px 8px 0 8px;
  font-size: 9pt;
}

.menu .menu-separator:hover {
  background: transparent;
}

.menu ul li ul li span.menu-section:after,
.menu ul li ul li a.menu-section:after {
  position: absolute;
  padding: 4px 0;
  font-size: 80%;
  content: "▼";
  color: #555555;
  right: 8px;
}

.menu ul li ul li ul {
  left: 100%;
  margin: 0;
  top: -1px;
}

.menu ul li ul li > a, .menu ul li ul li > span {
  border: none;
  display: block;
  padding: 6px 0 6px 8px;
}

.menu ul li ul li > a span, .menu ul li ul li > span span {
  vertical-align: middle;
}

.menu ul li ul li > a span:first-child, .menu ul li ul li > span span:first-child {
  margin-right: 4px;
}

.menu ul li ul li .nav-seg-span {
  margin-left: 8px;
}

.menu ul li > ul {
  margin-left: -7px;
}

.main-menu > ul > li {
  height: 36px;
  padding: 6px;
  vertical-align: top;
}

.main-menu > ul > li > a {
  border: none;
  display: inline-block;
}

.main-menu > ul > li > a > span {
  vertical-align: middle;
}

.main-menu > ul > li > a > span:last-child {
  margin: 0 6px;
}

.main-menu > ul > li > a > .icon-16 {
  display: none !important;
}

/* Pagination layout */

.pagination_container {
  float: right;
  clear: both;
}

.pagination {
  text-wrap: none;
  float: right;
  margin: 4px;
}

.pagination span {
  vertical-align: middle;
}

.pagination strong {
  vertical-align: middle;
}

.pagination_form {
  float: right;
  padding: 3px;
}

/* Page settings*/

.page_settings {
  position: fixed;
  display: none;
  top: 48px;
  left: 230px;
  width: 300px;
  z-index: 10;
  background: #fdfdfd;
  border: 1px solid #aaaaaa;
}

.page_settings .ninja_page_refresh_value {
  display: none;
}

.page_settings .widget-selector {
  margin-left: 10px;
}

.page_settings .unselected {
  background: url("images/checkbox.png") no-repeat;
}

.page_settings .selected {
  background: url("images/checkbox-selected.png") no-repeat;
}

.page_settings li {
  padding: 4px 4px 4px 25px;
  border-bottom: #777777;
  background-color: #fafbf9;
}

/* Notification bars */

.info, .notice {
  border-color: #50c0e4;
  color: #50c0e4;
}

.info.supplementary, .notice.supplementary {
  border-color: #3ba2c6;
  color: #3ba2c6;
}

.warning {
  border-color: #fad546;
  color: #fad546;
}

.warning.supplementary {
  border-color: #ddbc3e;
  color: #ddbc3e;
}

.unreachable, .unknown {
  border-color: #e93;
  color: #e93;
}

.unreachable.supplementary, .unknown.supplementary {
  border-color: #dc9141;
  color: #dc9141;
}

.error, .down, .critical {
  border-color: #f05051;
  color: #f05051;
}

.error.supplementary, .down.supplementary, .critical.supplementary {
  border-color: #da4a4a;
  color: #da4a4a;
}

.success, .ok, .up {
  border-color: #82cd60;
  color: #82cd60;
}

.success.supplementary, .ok.supplementary, .up.supplementary {
  border-color: #6fb052;
  color: #6fb052;
}

.pending {
  border-color: #aaa;
  color: #aaa;
}

.pending.supplementary {
  border-color: #888;
  color: #888;
}

.notify-notification-bar .notify-notification.info,
.notify-notification-bar .notify-notification.notice,
.alert.info,
.alert.notice,
.state-background.info,
.state-background.notice {
  background: #50c0e4;
  color: #fff;
}

.notify-notification-bar .notify-notification.warning,
.alert.warning,
.state-background.warning {
  background: #fad546;
  color: #666;
}

.notify-notification-bar .notify-notification.unreachable,
.notify-notification-bar .notify-notification.unknown,
.alert.unreachable,
.alert.unknown,
.state-background.unreachable,
.state-background.unknown {
  background: #e93;
  color: #fff;
}

.notify-notification-bar .notify-notification.error,
.notify-notification-bar .notify-notification.down,
.notify-notification-bar .notify-notification.critical,
.alert.error,
.alert.down,
.alert.critical,
.state-background.error,
.state-background.down,
.state-background.critical {
  background: #f05051;
  color: #fff;
}

.notify-notification-bar .notify-notification.success,
.notify-notification-bar .notify-notification.up,
.notify-notification-bar .notify-notification.ok,
.alert.success,
.alert.up,
.alert.ok,
.state-background.ok,
.state-background.up,
.state-background.success {
  background: #82cd60;
  color: #fff;
}

.notify-notification-bar .notify-notification.pending,
.alert.pending,
.state-background.pending {
  background: #aaa;
  color: #fff;
}

.notification-bar,
.license-bar,
.print-notification-bar {
  clear: both;
  padding: 3px 8px;
  border: 1px solid #c49400;
  background: #efd556;
  text-align: center;
  font-weight: 600;
  color: #544420;
}

.notify-notification-bar .notify-notification.info {
  border-top-style: solid;
  border-top-width: 1px;
}

.notify-notification-bar .notify-notification.info {
  border-color: #3ba2c6;
}

.notify-notification-bar .notify-notification.success {
  border-color: #6fb052;
}

.notify-notification-bar .notify-notification.warning {
  border-color: #ddbc3e;
}

.notify-notification-bar .notify-notification.error {
  border-color: #da4a4a;
}

.notify-notification-bar .notify-notification:first-child {
  border: none;
}

.notify-notification-bar a,
.license-bar a,
.alert a,
.print-notification-bar a {
  color: inherit;
  border-color: inherit;
}

.notify-notification-bar span,
.license-bar span,
.print-notification-bar span {
    display: inline-block;
    margin: 0 8px;
}

.license-bar,
.print-notification-bar {
  background: #f0a000;
  text-shadow: 0 0 1px #703000;
  padding: 8px;
  color: white;
}

.license-bar a,
.print-notification-bar a {
  color: white;
}

.license-bar a:hover,
.print-notification-bar a:hover {
  color: white;
}

.print-notification-bar {
  display: none;
}


/* Report specifics */

.setup-table {
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.showlog .showlog_options {
  vertical-align: top;
  float: left;
  margin-right: 32px;
}

.report-page-setup, .report-page {
  padding: 0px 16px;
}

.report-page-setup td > label {
  margin: 4px 0;
  display: inline-block;
}

.pie-chart {
  display: block;
  float: left;
  width: auto;
  margin-right: 7px;
}

.chart-border {
  border: 1px solid gainsboro;
}

.report-chart-fullwidth {
  min-width: 10px;
  min-height: 10px;
}


/* Configuration specifics */

.configuration-page-link {
  display: inline-block;
  vertical-align: top;
  min-height: 32px;
  width: 210px;
  margin: 0 8px;
  padding: 0;
}

.configuration-page-link a {
  border: none;
  display: inline-block;
  border-radius: 3px;
  padding: 4px 8px;
  width: 100%;
}

.configuration-page-link a:hover {
  background-color: #f1f0ed;
}

.configuration-page-link span {
  vertical-align: middle;
  margin: 4px;
}

.configuration-page-description {
  display: inline-block;
  padding-left: 4px;
  font-style: italic;
  color: #777777;
}

/* Toolbar specifics */

.main-toolbar {
  border-top: 1px solid #dddddd;
  background: #fff;
  clear: both;
}

.main-toolbar .main-toolbar-menu {
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
}

.main-toolbar .main-toolbar-menu > ul > li {
  border-left: 1px solid #dddddd;
  padding: 2px 2px;
  margin: 0 0;
}

.main-toolbar .main-toolbar-menu > ul > li:after {
	float: right;
	display: block;
	font-size: 0.75em;
	content: "▼";
	margin-top: 0.4em;
	margin-right: 0.6em;
	color: #555555;
}

.main-toolbar .main-toolbar-menu > ul > li > a {
  padding: 3px 8px;
}

.main-toolbar .main-toolbar-menu > ul > li > a > span{
  padding: 0 4px;
}

.main-toolbar .main-toolbar-title {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 8px 2px 0;
  padding: 3px 24px 2px 12px;
  border-right: 1px solid #dddddd;
  font-size: 120%;
}

.main-toolbar .main-toolbar-subtitle {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 6px 2px 0;
  padding: 3px 4px 2px 12px;
  font-size: 120%;
}

.main-toolbar .main-toolbar-info {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 0 1px 0;
}

.main-toolbar .main-toolbar-info a {
  display: inline-block;
  min-height: 14px;
  margin: 0 8px;
}

.main-toolbar .main-toolbar-info li a {
  margin: 0;
}

.main-toolbar .main-toolbar-info span {
  display: inline-block;
  min-height: 14px;
  vertical-align: middle;
}

.main-toolbar .main-toolbar-info form {
  display: inline-block;
  width: auto;
}

.main-toolbar .main-toolbar-info form input, .main-toolbar .main-toolbar-info form select {
  margin: 0;
}

.main-toolbar .main-toolbar-buttons {
  float: right;
}

.main-toolbar .main-toolbar-buttons a,
.main-toolbar .main-toolbar-buttons input[type=submit] {
  display: inline-block;
  box-sizing: border-box;

  border: none;
  width: auto;

  padding: 5px 6px 4px 6px !important;
  background: transparent;
  border-radius: 0;
  border-left: 1px solid #dddddd;
  height: 28px;
  margin: 0;
}

.main-toolbar .main-toolbar-buttons form {
  display: inline-block;
  padding: 0;
  width: auto;
}

.main-toolbar .main-toolbar-buttons a:first-child {
  border-left: none;
}

.main-toolbar .main-toolbar-buttons a span.icon-16,
.main-toolbar .main-toolbar-buttons a span.toolbar-icon-label {
  vertical-align: middle;
  margin: 0 4px;
}

.main-toolbar .main-toolbar-buttons button {
  margin: 0;
  padding: 0px 8px !important;
  border-width: 0 1px;
}

/* Widgets */

.dashboard {
  position: relative;
  background: #f5f5f5;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 8px !important;
}

.widget-row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.widget,
.widget-placeholder {
  box-sizing: border-box;
  position: relative;
  height: auto;
  margin: 16px 8px 0 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.widget-placeholder {
  background: #f0f0f0;
  border: 2px dashed #d0d0d0;
  text-align: center;
  font-size: 14pt;
  color: #888;
  padding: 16px;
  margin:  0 0 0 0;
  border-radius: 4px;
}

.widget-place {
  box-sizing: border-box;
  -webkit-flex: auto 1 0;
  -ms-flex: auto 1 0;
  flex: auto 1 0;
  opacity: 1.0 !important;
  padding: 0 8px;
}

.widget-place-highlight {
  min-height: 32px;
  border-radius: 3px;
}

.widget-place-highlight .widget,
.widget-place-highlight .widget-placeholder {
  margin-top: 16px;
}

.widget-content {
  overflow: auto;
  word-wrap: break-word;
  background: #ffffff;
}

.widget-editbox {
  display: none;
  font-size: 0.9em;
  padding: 8px;
  background: #ffffff;
}

.widget-selector:hover {
  cursor: pointer;
  background-color: #eeecea;
}

.widget-header {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  width: 100%;
  height: 30px;
  font-size: 10pt;
  padding: 8px 0 4px 8px;
}

.widget-header span {
  float: left;
  max-width: 98%;
}

.widget-header .widget-menu {
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff;
  height: 14px;
  width: 64px;
  padding: 8px 4px;
  text-align: right;
  font-size: 10px; /* Needed to avoid extra height in Firefox */
}

.widget-header .widget-menu a {
  width: 12px;
  height: 12px;
  border: none !important;
  margin: 0 2px;
  display: none;
}

.widget:hover .widget-menu a {
  display: inline-block;
}

.widget-header .widget-menu img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.widget-header .widget-menu img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.widget-title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
}

.fade-widget-title {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3%;
  height: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.widget_loadimg {
  position: absolute;
  top: 5px;
  right: 0;
  background: white;
  z-index: 0;
  padding: 5px 60px 5px 5px;
  width: 12px;
  height: 12px;
}

.widget-editbox form.renderable h2 {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: -10px;
  margin-top: 20px;
}

.widget-editbox form.renderable h2 input[type=checkbox] {
  margin-left: 10px;
}

.widget-editbox fieldset a.help-icon {
  margin-left: 4px;
}

.tablestat-widget {
  width: 100%;
  margin: 0 auto;
  border: none;
}

.tablestat-widget td:last-child {
  border-right: none;
}

.tablestat-widget tr:last-child td {
  border-bottom: none;
}


/* Others */

.padd-table {
  margin: 4px 0;
}

.padd-table td:first-child,
.padd-table th:first-child {
  padding-left: 8px;
}

#backups td img {
  margin: 0 4px;
}

a.help-icon {
  border-bottom: none;
  cursor: help;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

span.brand {
  display: inline-block;
}

img.brand-icon {
  vertical-align: middle;
  height: 32px;
}

span.brand-label {
  font-size: 13pt;
  vertical-align: middle;
  font-weight: 400;
  margin-left: 8px;
}

#user_settings input[type="submit"],
#command_form input[type="submit"] {
  margin-left: 8px;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.dialog {
  margin: 10% 25%;
  width: 50%;
  min-height: 128px;
  padding: 32px;
  border-radius: 4px;
  background: #ffffff;
}

ul.linklist {
  list-style: none;
  margin: 1em 0;
}

ul.linklist li {
  padding: 0;
}

ul.linklist a {
  color: #50c0e4;
  border: none;
}

ul.linklist a:hover {
  color: #3ba2c6;
}

ul.linklist li a {
  vertical-align: middle;
  font-size: 10pt;
  color: #50c0e4;
  border: none;
}

ul.linklist li a:hover {
  color: #3ba2c6;
}

ul.linklist li a:after {
  content: "▶";
  margin-left: 16px;
  font-size: 80%;
  vertical-align: 5%;
}
